<!doctype html>
<html ng-app='myApp'>
<head>

<title>Tables Converter (Excel-GoogleSheets-HTML tables)</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script><script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>

<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

<script  type="text/javascript" src="../../../js-apps/layout.js"></script>
<script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>


</head>
<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>
<legend><h2><span class='fa fa-spinner'></span> Table Converter: <small>Convert Any table based data like (Excel - Google Sheets - HTML Tables) into most of the known formats like (JSON , XML , CSV , YAML , HTML tables , SQL Statements , PHP_arrays , PHP_Objects)</small></h2></legend>


<div class="row">
<p class='well well-sm'>
- This APP will do it's Best to convert between data formats. if it couldn't convert you will get an error Message. <br>
- Just copy the wanted data then past here in plain text. <br>
- Sorry! we still have some problems in converting to XML.(working on it)
</p>


<div id='textarea1' class='col-sm-6'>

<label>Data Format</label>
<SELECT class='form-control' ng-model='from_type'>
    <option value='excel'>Excel Data</option>
    <option value='google_sheets'>Google Sheets</option> 
    <option value='html_table'>HTML Table</option>
</SELECT>
<br>
   

<!-- <div class="row">
    <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">Data Seperator:</div>
          <input type="text" class="form-control" ng-model='split_seperator'>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">Line Seperator:</div>
          <input type="text" class="form-control" ng-model='line_seperator'>
        </div>
    </div>
</div> -->


    <p>Data in table format (input)</p>
    <textarea class='form-control mytextarea' rows='20' ng-model='before'></textarea>
    <input type='file' class='hidden upload_input' />
    <span class='fa fa-file-code-o btn file_btn' title='Import a File'></span>
    <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
    <span class='fa fa-cut btn cut_btn' title='Cut Text'></span>
    <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
    <span class='fa fa-trash btn emptyAll' title='Empty All Text'></span>

    <a href='' download="data.txt" style="display:none" class='hidden download_content_link'></a>
    <span class='fa fa-save btn download_content' title='Download Content'></span>


    <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
    <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
    <span class='pull-right'>&nbsp;&nbsp;</span>
    <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
    <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
</div>

<div id='textarea2' class='col-sm-6'>


<div class="row">
<div class='col-sm-6'>
<label>Convert to Data Format</label>
<SELECT class='form-control' ng-model='to_type' ng-change='convert()'>
        <optgroup label="Data Formats">
    <option value='json'>JSON</option>
    <option value='xml'>XML</option>
    <option value='yaml'>YAML</option> 
    <option value='csv'>CSV</option>
    <option value='sql'>SQL Statement</option>
        </optgroup>
        <optgroup label="Rendable HTML">
    <option value='html_table_single'>HTML Table (Single Dimension Array)</option>
    <option value='html_table_multi'>HTML Table (Multible Dimensions Array)</option>
        </optgroup>
        <optgroup label="Programable Data">
    <option value='php_array'>PHP Arrays</option>
    <option value='php_object'>PHP Objects</option>
        </optgroup>
</SELECT>
</div>
<div class='col-sm-6'>
    <label>Column (CSV format)</label>
    <input type="text" class="form-control" ng-model='columns' style='width:100%'>
</div>
</div>

<div class="clearfix"></div><br>


    <p>{{to_type}} Data (output)</p>
    <textarea class='form-control mytextarea' rows='20' readonly>{{after}}</textarea>
    <input type='file' class='hidden upload_input' />
    <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
    <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
    <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
    <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
    <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

    <a href='' download="data.{{to_type}}" style="display:none" class='hidden download_content_link'></a>
    <span class='fa fa-save btn download_content' title='Download Content'></span>


    <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
    <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
    <span class='pull-right'>&nbsp;&nbsp;</span>
    <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
    <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>

</div>



<div class="clearfix"></div><br>
<button class='btn btn-primary btn-lg btn-block' ng-click='convert()'>{{button_text}}</button>

<div class="clearfix"></div><br>
</div>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <script type="text/javascript">


    function get_text_elms(text,split_delemeter,line_delemeter,columns){
        if(text){
            var final_output = [];
            var lines = text.split(line_delemeter);
            console.log("number of lines that we read: "+lines.length);

            for(var i=0;i<lines.length;i++){
                var line_array = lines[i].split(split_delemeter);
                inline_obj = {};

                for(j=0;j<line_array.length;j++){
                    col_name = (columns && columns[j]) ? columns[j].trim() : "column"+j;
                    if(line_array[j])  inline_obj[col_name]  = line_array[j].trim(); 
                }

                final_output.push(inline_obj);
            }
            return final_output;
        }
        return [];
    }



var myApp=angular.module('myApp',['ngRoute']);

myApp.controller('MainController',function($scope,$http,$timeout){
    $scope.from_type = "excel";
    $scope.to_type = "sql";

    $scope.split_seperator = '[\t]+';
    $scope.line_seperator = '\n';

    $scope.button_text = "Convert";
    $scope.compiler_api_link = server_link+"site/api/data-types-converter";
    $scope.before = '';
    $scope.after = '';
    $scope.columns = '';
    var counter = false;

    $scope.$watch('before',function(){
        if(counter) $timeout.cancel(counter);
        counter = $timeout(function(){
            $scope.convert();
        },1000)
    })

    $scope.convert = function(){
        if(!$scope.before) return;
        // if($scope.from_type=="excel" || $scope.from_type=="google_sheets" || $scope.from_type=="html_table" ) {
        $scope.button_text = "Loading";

        var split_delemeter = new RegExp($scope.split_seperator,'g');
        var line_delemeter = new RegExp($scope.line_seperator,'g');
        var cols = $scope.columns.split(",");
        outter_data = get_text_elms($scope.before,split_delemeter,line_delemeter,cols);
        json_before_data = JSON.stringify(outter_data);
        // }
        $http.post($scope.compiler_api_link,{"from-type":'json',"to-type":$scope.to_type,"data-content":json_before_data}).then(function(data){
            console.log(data);
            if(data.data && data.data!="NULL") {
                $scope.after = data.data;
                toastr.success("Converting Data Done");
            }else $scope.output_failure();
                $scope.button_text = "Convert";
        }, function(){
            $scope.output_failure();
            $scope.button_text = "Convert";
        });
    }
    $scope.convert();
    $scope.output_failure = function(){
        console.log("error has happend");
        $scope.after = "Sorry! Error Has Happened. we couldn't convert this data. if you want to fix this please contact the developer";
    }


});


window.onload = function(){
    apply_text_area('textarea1','text/plain');
    apply_text_area('textarea2','text/plain');
};

    </script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>