<!doctype html>
<html ng-app="myApp">
<head>

<title>Websites Saver</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />


<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script><script type="text/javascript" src='../../../assets/js/bootstrap.min.js'></script>

<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>

<link rel="stylesheet" href="../../../assets/plugins/sweetAlert/sweetalert.css">
<link rel="stylesheet" href="../../../assets/plugins/sweetAlert/sweetalert-arabic.css">
<script type="text/javascript" src='../../../assets/plugins/sweetAlert/sweetalert.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/moment.js/moment.min.js'></script>

<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/FileSaver.js'></script>
<script  type="text/javascript" src="../../../assets/plugins/ngStorage.min.js"></script>


<script  type="text/javascript" src="../../../js-apps/layout.js"></script>

<style type="text/css">
    tr th{
        background-color: #333 !important;
        color:white;
    }
    tr th:hover{
        cursor:pointer;
    }

    .copy_btn{
        color:#fff;
        background-color:#3F71A4;
        cursor: pointer;
    }
    .hover_item:hover{
        background-color:rgba(99,97,204,.3);
        cursor: pointer;
    }
</style>



</head>

<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>
<a href="#menu-toggle" class="btn btn-default btn-xs fa fa-arrow-right" id="menu-toggle"></a> 



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2> <span class='fa fa-hashtag'></span> B-Websites Saver: <small>A clean way to save & retrieve your websites data (passwords - links - DBs data)</small></h2></legend>










<div class='col-sm-12' ng-show='show_what=="all"'>


    <span class="col-sm-6">
        <label>Search Text (all columns)</label>
        <input class="form-control" ng-model='searchText'></input>
    </span>

    <span class="col-sm-6">
        <label>Limit To</label>
        <input type='number' class="form-control" ng-model='pageSize'></input>
    </span>



<div class="clearfix"></div>
    <br>

<div class="col-md-12 ">

    [ <a href="" ng-click="predicate=''">No Order</a> ]
    <table class="table table-striped table-hover" border="2" style='margin-bottom:2px'>
        <tr>
            <!-- <th class='text-center'>الرقم</th> -->
            <th class='text-center' ng-click="predicate = 'f1'; reverse=!reverse">Name
                    <span ng-show='predicate=="f1" && reverse' class='pull-right'> &#8673</span> 
                    <span ng-show='predicate=="f1" && !reverse' class='pull-right'> &#8675</span> 
            </th>
            <th class='text-center' ng-click="predicate = 'createdAt'; reverse=!reverse">Created At
                    <span ng-show='predicate=="createdAt" && reverse' class='pull-right'> &#8673</span> 
                    <span ng-show='predicate=="createdAt" && !reverse' class='pull-right'> &#8675</span> 
            </th>
            <th class='text-center'>Operations</th>
        </tr>

        <tr dir-paginate="
            (key,item) in allTables.table1 |
            filter:searchText | 
            equality_filter:'f2':eq_value |
            orderBy:predicate:reverse | 
            itemsPerPage:pageSize
        "
        current-page="currentPage"
        >
            <td class='hover_item' ng-click='open_site(item)'>{{item.f1}} <br><small style='font-size:85%;color:#6F2D86'>{{item.f2}}</small></td>
            <td>
<span class='label label-default' data-toggle="tooltip" data-placement="top" title="{{sql_time_formed(item.createdAt)}}">{{timeAgo(item.createdAt+" ")}}</span></td>
            <td>
                <button class='btn btn-primary btn-xs' ng-click='open_site(item)'><i class='fa fa-cubes'></i> Show Website</button>
                <button class='btn btn-primary btn-xs' ng-click='open_site(item,"backups")'><i class='fa fa-database'></i> Show Backups</button>

                <button class='btn btn-default btn-xs' ng-click='' data-toggle="modal" data-target="#create_modal" ><i class='fa fa-plus'></i> Add</button>

                <button class='btn btn-default btn-xs' ng-click='bassign("edit_item",item)' data-toggle="modal" data-target="#edit_modal" ><i class='fa fa-edit'></i> Edit</button>

                <button class='btn btn-danger btn-xs' ng-click='delete_it_with_alert("http://ahmed-badawy.com/remove/"+item.f1,"table1",item.ng_id)'><i class='fa fa-trash'></i> Delete</button>
            </td>
        </tr>
    </table>

<div class='text-center'>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="B-website-saver-app/dirPagination.tpl.html"></dir-pagination-controls>
</div>


<button class='btn btn-default btn-lg col-sm-6' ng-click='' data-toggle="modal" data-target="#db_controller" ><i class='fa fa-database'></i> Application Database Manager</button>

<button class='btn btn-default btn-lg col-sm-6' ng-click='' data-toggle="modal" data-target="#create_modal" ><i class='fa fa-plus'></i> Add New Website</button>

</div>
</div>








<div class='col-sm-12' ng-show='show_what=="website"'>


<div class=''>
  <ul class="nav nav-tabs">
    <li ng-class='{active:show_what_in=="normal"}'><a href='#' ng-click='show_what_in="normal"'><span class='fa fa-cubes'></span> Website Data</a></li>
    <li ng-class='{active:show_what_in=="backups"}'><a href='#' ng-click='show_what_in="backups"'><span class='fa fa-database'></span> Databases Data</a></li>
    <li ng-click='show_what="all"' style='background-color:#FF7471;'><a href='#'><span class='fa fa-close'></span> Close</a></li>
  </ul>
</div>
    <div class="clearfix"></div><br>



    <div class='panel panel-default panel-body' style='border:3px dashed #333'>
        <legend>
        <span>Website: {{show_item.f1}}</span>
        </legend>



<div ng-show='show_what_in=="normal"'>
        <h4>Website Links</h4>

<div class='col-sm-6'>    
    <div class="input-group" ng-repeat='link in show_item.links'>
      <div class="input-group-addon" style='color:#222' >{{link.field0}}:</div>
      <input type="text" class="form-control" value='{{link.field1}}' readonly>
      <a class="input-group-addon btn btn-primary" href='{{link.field1}}' target='_blank'>Visit Site</a>
    </div>
</div>

    <div class="clearfix"></div>
    <hr>

        <h4>Website Passwords</h4>
            <div ng-repeat='pass in show_item.passwords' class='row'>
<div class='col-sm-2'>{{pass.field0}}: </div>
<div class='col-sm-5'>    
    <div class="input-group">
      <div class="input-group-addon" style='color:#222' >UserName:</div>
      <input type="text" class="form-control" value='{{pass.field1}}' readonly>
      <div class="input-group-addon copy_btn" data-clipboard-text='{{pass.field1}}'>Copy to Clipboard</div>
    </div>
</div>
<div class='col-sm-5'>    
    <div class="input-group">
      <div class="input-group-addon" style='color:#222' >Password:</div>
      <input type="text" class="form-control" value='{{pass.field2}}' readonly>
      <div class="input-group-addon copy_btn" data-clipboard-text='{{pass.field2}}'>Copy to Clipboard</div>
    </div>
</div>
            </div>
</div>




<div ng-show='show_what_in=="backups"'>
        <h4>Website DataBases</h4>

            <div class="clearfix"></div><br>


<form action="" name='order_db_backup_form' method='post' target='_blank'>
    <input type='hidden' name='host' value='{{order_db_backup.host}}' />
    <input type='hidden' name='db'   value='{{order_db_backup.name}}' />
    <input type='hidden' name='user' value='{{order_db_backup.user}}' />
    <input type='hidden' name='pass' value='{{order_db_backup.pass}}' />
    <input type='hidden' name='type' value='{{order_db_backup.type}}' />
    <button type='submit' class='hidden' id='order_db_backup_submit'>submit</button>
</form>

<table class='table'>
    <tr>
        <th class='text-center'>N</th>
        <th class='text-center'>DataBase Name</th>
        <th class='text-center'>DataBase User</th>
        <th class='text-center'>DataBase Password</th>
        <th class='text-center'>DataBase Host</th>
        <th class='text-center'>Operations</th>
    </tr>
    <tr ng-repeat='db in show_item.databases' >
        <td>{{$index}}</td>
        <td><input value='{{db.field0}}' class='form-control form-sm' readonly /></td>
        <td><input value='{{db.field1}}' class='form-control form-sm' readonly /></td>
        <td><input value='{{db.field2}}' class='form-control form-sm' readonly /></td>
        <td><input value='{{db.field3}}' class='form-control form-sm' readonly /></td>  
        <td><button class='btn btn-primary' ng-click='order_backup("database",db)'>Order a Backup</button></td>
    </tr>
</table>

</div>








    </div>
</div>






<!--*******************************************************************
Edit Modal
********************************************************************-->
<!-- Modal -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-left" id="myModalLabel">Update Website</h3>
      </div>
      <div class="modal-body col-sm-12">


<form ng-submit='Update("table1",edit_item)'>


        <div class="col-sm-6">        
            <label>Name </label>
            <input type='text' ng-model='edit_item.f1' class='form-control' />
        </div>
        <div class="col-sm-6">        
            <label>Description </label>
            <input type='text' ng-model='edit_item.f2' class='form-control' />
        </div>
        <div class="clearfix"></div><br>

        <div class="col-sm-12">
            <label>Links</label>
            <textarea type='text' ng-model='edit_item.f4' class='form-control' rows='5' ng-focus='focus="f4"'></textarea>
            <p class='help-block' style='color:#F45959' ng-show='focus=="f4"'>just type the line-name & the line-url seperated by comma (,) <br> each line is considered a new link </p>
        </div>

            <div class="clearfix"></div><br>

        <div class="col-sm-12">
            <label>Passwords</label>
            <textarea type='text' ng-model='edit_item.f5' class='form-control' rows='3' ng-focus='focus="f5"'></textarea> 
            <p class='help-block' style='color:#F45959' ng-show='focus=="f5"'>just type the (password-name , userOremail , password) seperated by comma (,) like in the identified example<br> each line is considered a new password </p>
        </div>

            <div class="clearfix"></div><br>

         <div class="col-sm-12">
            <label>Databases</label>
            <textarea type='text' ng-model='edit_item.f6' class='form-control' rows='3' ng-focus='focus="f6"'></textarea> 
            <p class='help-block' style='color:#F45959' ng-show='focus=="f6"'>just type the (db name , db user , db password , db host) seperated by comma (,) <br> each line is considered a new database </p>
        </div>


        <br>

</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
      </div>

    </div>
  </div>
</div>
<!-- ******************************************************************** -->







<!--*******************************************************************
Create Modal
********************************************************************-->
<!-- Modal -->
<div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-left" id="myModalLabel">New Website</h3>
      </div>
      <div class="modal-body col-sm-12">


        <div class="col-sm-6">        
            <label>Name </label>
            <input type='text' ng-model='new_item.f1' class='form-control' />
        </div>
        <div class="col-sm-6">        
            <label>Description </label>
            <input type='text' ng-model='new_item.f2' class='form-control' />
        </div>
        <div class="clearfix"></div><br>

        <div class="col-sm-12">
            <label>Links</label>
            <textarea type='text' ng-model='new_item.f4' class='form-control' rows='5' ng-init="new_item.f4 = 'my website    ,    http://mywebsite.com
my cpanel      ,    http://mywebsite.com/cpanel
'" ng-focus='focus="f4"'></textarea>
            <p class='help-block' style='color:#F45959' ng-show='focus=="f4"'>just type the line-name & the line-url seperated by comma (,) <br> each line is considered a new link </p>
        </div>

            <div class="clearfix"></div><br>

        <div class="col-sm-12">
            <label>Passwords</label>
            <textarea type='text' ng-model='new_item.f5' class='form-control' rows='3' ng-init="new_item.f5 = 'cpanel password   ,   usernameOremail1   ,   password1
ftp password          ,   usernameOremail2   ,   password2
'" ng-focus='focus="f5"'></textarea> 
            <p class='help-block' style='color:#F45959' ng-show='focus=="f5"'>just type the (password-name , userOremail , password) seperated by comma (,) like in the identified example<br> each line is considered a new password </p>
        </div>

            <div class="clearfix"></div><br>


<p>- We Have a utility that helps you backup your site's files & databases (php websites only) <br> <b>Do you want to use it ?</b> &nbsp; &nbsp; 
<label>Yes <input type='radio' name='use_backups' value='yes' ng-model='new_item.use_backups' ng-init='new_item.use_backups="no"' ></label> &nbsp; &nbsp; 
<label>No <input type='radio' name='use_backups' value='no' ng-model='new_item.use_backups' ></label>
</p>




<div class="well well-sm" ng-show='new_item.use_backups=="yes"'>
        <div class="col-sm-12">        
            <label>B-backup utility file link </label>
            <input type='text' ng-model='new_item.f3' class='form-control' ng-init='new_item.f3="http://example.com/b-backup/orderes.php"'/>
        </div>

        <div class="col-sm-12">
            <label>Databases</label>
            <textarea type='text' ng-model='new_item.f6' class='form-control' rows='3' ng-init="new_item.f6 = 'db1-name   ,   db1-username   ,   db1-pass   ,   db1-host
db2-name   ,   db2-username   ,   db2-pass   ,   db2-host
'" ng-focus='focus="f6"'></textarea> 
            <p class='help-block' style='color:#F45959' ng-show='focus=="f6"'>just type the (db name , db user , db password , db host) seperated by comma (,) <br> each line is considered a new database </p>
        </div>
        <div class="clearfix"></div>
</div>


        <br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click='Create("table1",new_item)' data-dismiss="modal">Add New Website</button>
      </div>
    </div>
  </div>
</div>
<!-- ******************************************************************** -->




<!--*******************************************************************
DB Modal
********************************************************************-->
<!-- Modal -->
<div class="modal fade" id="db_controller" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-left" id="myModalLabel">التحكم فى قاعدة البيانات</h3>
      </div>

      <div class="modal-body col-sm-12">
<div class='panel panel-default panel-body'>

<form ng-submit="import_file()" action='#' method='post' class='well'>
    <h4>أستبدال قاعدة البيانات</h4>
    <input type='file' class='inputfile hidden' id='import_file_input'>
    <label for="import_file_input" class='btn btn-default btn-lg btn-block'>1- أرفع ملف قاعدة البيانات الجديدة</label>
    <button type="submit" class="btn btn-primary btn-block">2- أستبدل قاعدة البيانات التواجدة بالقاعدة الجديدة</button>
</form>

    <!-- <div class='clearfix'></div><br> -->
<div class="well">
    <h4>حفظ قاعدة البيانات</h4>
    <a href="" ng-click='export_db()' class='btn btn-primary btn-lg btn-block'>Export Websites</a>
</div>

<!--    <div class='clearfix'></div><br>
    <a href="" ng-click='removeAll()' class='btn btn-danger btn-lg' style='width:100%'>Delete All Websites</a> -->
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">أغلق</button>
       <!--  <button type="submit" class="btn btn-primary">أحفظ التغيرات</button> -->
      </div>

</form>

    </div>
  </div>
</div>

<!-- ******************************************************************** -->




</div>











<div class="clearfix"></div>
<br>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



<script src="B-website-saver-app/dirPagination.js"></script>
<script src="B-website-saver-app/script.js"></script>



<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>