<!doctype html>
<html ng-app="myApp">
<head>

<title>B-PasswordKeeper</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

<script type="text/javascript" src='../../../assets/plugins/FileSaver.js'></script>
    <script  type="text/javascript" src="../../../assets/plugins/ngStorage.min.js"></script>
    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>
    <script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>


</head>

<body ng-controller="MainController">



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-user-secret fa-lg'></span> B-PasswordKeeper: <small>Save Your Password On you Device</small></h2></legend>

<div class="alert alert-info"><p>
    Don't Worry About Security. Your Passwords is on your device. it will never get sent on the internet.
</p></div>


    <div class="col-sm-4">
<small style="color:red">Put the passwords in a CSV format</small>
<textarea id="text-input" class='form-control' ng-model='passkeeper_text' rows="25" ng-change='passKeeper_processor()'></textarea>
<div class="clearfix"></div><br>

    <a target='_blank' href="" class='btn btn-primary btn-block' ng-click="saveData()">Save Passwords</a>
    <a href="" class='btn btn-default btn-xs pull-right col-sm-6' ng-click='export_db()'>Export Data</a>
    <a href="" class='btn btn-default btn-xs pull-right col-sm-6' onclick="document.getElementById('db_uploader').click();">Import Data</a>
    <input type='file' class='hidden' id='db_uploader' />

    </div>



<div class='col-sm-8'>
    <table class='table table-striped table-hover'>
        <tr ng-repeat='n in passwords_obj'>

            <td>
                <div class="input-group form-sm" ng-if="n.f0" title='{{n.f0}}'>
                    <input type="text" readonly class="form-control" value='{{n.f0}}'>
                    <div class="input-group-addon copy_btn" data-clipboard-text='{{n.f0}}'><span class='fa fa-copy'></span></div>
                </div>
            </td>
            <td>
                <div class="input-group form-sm" ng-if="n.f1" title='{{n.f1}}'>
                    <input type="text" readonly class="form-control" value='{{n.f1}}'>
                    <div class="input-group-addon copy_btn" data-clipboard-text='{{n.f1}}'><span class='fa fa-copy'></span></div>
                </div>
            </td>

            <td>
                <div class="input-group form-sm" ng-if="n.f2" title='{{n.f2}}'>
                    <input type="text" readonly class="form-control" value='{{n.f2}}'>
                    <div class="input-group-addon copy_btn" data-clipboard-text='{{n.f2}}'><span class='fa fa-copy'></span></div>
                </div>
            </td>

            <td>
                <div class="input-group form-sm" ng-if="n.f3" title='{{n.f3}}'>
                    <input type="text" readonly class="form-control" value='{{n.f3}}'>
                    <div class="input-group-addon copy_btn" data-clipboard-text='{{n.f3}}'><span class='fa fa-copy'></span></div>
                </div>
            </td>

            <td>
                <div class="input-group form-sm" ng-if="n.f4" title='{{n.f4}}'>
                    <input type="text" readonly class="form-control" value='{{n.f4}}'>
                    <div class="input-group-addon copy_btn" data-clipboard-text='{{n.f4}}'><span class='fa fa-copy'></span></div>
                </div>
            </td>


        </tr>
    </table>
</div>



<div class="clearfix"></div>
<br>


<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <script type="text/javascript">
        var myApp=angular.module('myApp',['ngRoute','ngStorage']);
        myApp.factory('ngStorageControlService',function($http,$log,$q,$localStorage){ //$log is a service used to logout things.
            return obj = {
                save: function(db_content){
                    var deferred = $q.defer();
                    $log.warn(db_content); 
                    $localStorage.b_password_keeper = db_content;
                    deferred.resolve();
                    return deferred.promise;    
                },
                load: function(){
                    var deferred = $q.defer(); 
                    data = $localStorage.b_password_keeper;
                    return_data = (data) ? data : null;
                    deferred.resolve(return_data);
                    return deferred.promise;
                },
            }
        });       

        myApp.controller('MainController',function($scope,$timeout,$interval,ngStorageControlService){

$interval(function(){
    toastr.info('Automatic Save every 10 seconds');
    $scope.saveData();
},10000);

$scope.passkeeper_text = "email@website.com , username , password";

$scope.passKeeper_processor = function(){
// console.log($scope.passkeeper_text);  
    output = get_text_elms($scope.passkeeper_text,",","\n");              
    // console.log(output);
    $scope.passwords_obj = output;
}

$scope.loadData = function(){
    ngStorageControlService.load().then(function(data){
        $scope.passkeeper_text = data;
        $scope.passKeeper_processor();
        toastr.success('Database Has Been Synced');
    },function(){
        toastr.error('Failed To Sync The Data');
    });
}

$scope.saveData = function(){
    ngStorageControlService.save($scope.passkeeper_text);
    toastr.success("Your Data Was Saved");
}

$scope.loadData();
$timeout(function(){
    $scope.passKeeper_processor();            
},500);

$scope.export_db = function(){
    var jsonString= JSON.stringify($scope.passkeeper_text,null,' ');
    var blob = new Blob([jsonString], {type: "text/plain;charset=utf-8"});
    // saveAs(blob, "Extracted-Links.txt");
    saveAs(blob, "B-PasswordKeeper.json");
    toastr.warning('Success ! database Saved');
}    

$scope.import_db = function(evt){
    reader = read_text_file(evt);
    reader.onload = function(evt){ //what happens on loading the textfile.
        var json_string = evt.target.result;
        var db_data = JSON.parse( json_string );
        // console.log(db_data);
        // $scope.passkeeper_text = db_data;
        ngStorageControlService.save(db_data);
        location.reload();
    }
}


        });




    function get_text_elms(text,split_delemeter,line_delemeter){
        if(text){
            var final_output = [];
            var lines = text.split(line_delemeter);
            for(var i=0;i<lines.length;i++){
                var line_array = lines[i].split(split_delemeter);
                inline_obj = {};

                if(line_array.length>=6) toastr.error("we only support up to six fields")

                // console.log(line_array);

                if(line_array[0]) inline_obj.f0 = line_array[0].trim(); 
                if(line_array[1]) inline_obj.f1 = line_array[1].trim(); 
                if(line_array[2]) inline_obj.f2 = line_array[2].trim(); 
                if(line_array[3]) inline_obj.f3 = line_array[3].trim(); 
                if(line_array[4]) inline_obj.f4 = line_array[4].trim(); 
                if(line_array[5]) inline_obj.f5 = line_array[5].trim(); 

                final_output.push(inline_obj);
            }
            return final_output;
        }
        return [];
    }

    var clipboard_copy = new Clipboard('.copy_btn');
    clipboard_copy.on('success', function(e) { toastr.info("Text was Copied To Clipboard") });
    clipboard_copy.on('error', function(e) { console.log(e); });



    document.getElementById("db_uploader").addEventListener('change',function(evt){
        angular.element(this).scope().import_db(evt);
    },false);

    function read_text_file(evt){
        var file = evt.target.files[0];

        // if(file.type != "text/plain"){ //stop if it'sn't a text file
        //     var res = "this isn't a text import file...";
        //     alert(res);
        //     // document.getElementById('textarea').innerHTML = res;
        //     return;
        // }
        var reader = new FileReader(); //call the FileReader class.
        reader.readAsText(file); //then call the readAsText functnion
        return reader;
    }    

    </script>



<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>