<!doctype html>
<html ng-app='myApp'>
<head>

<title>Prettify Code</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>


<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>

<style type="text/css">
/*    .string { color: #00CC76; }
    .key { color: #FE6967; }
    .number { color: darkorange; }
    .boolean { color: #4D58FE; }
    .null { color: magenta; }*/
    #output{
          overflow: auto;
          word-wrap: normal;
          white-space: pre;
    }
</style>

<link rel="stylesheet" href="highlighter-plugin/styles/monokai-sublime.css">
<script src="highlighter-plugin/highlight.pack.js"></script>

</head>

<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-file-text-o'></span> Code Prettify : <small>Generates a Readable Code (prettify then highlight code)</small></h2></legend>


<div class='row'>
  <ul class="nav nav-tabs">
    <li ng-class='{active:show_what==1}'><a href='#' ng-click='show_what=1'><span class="fa fa-lg fa-file-text-o"></span> Pretty Json</a></li>
    <li ng-class='{active:show_what==2}'><a href='#' ng-click='show_what=2'><span class="fa fa-lg fa-file-text-o"></span> Pretty CSS</a></li>
    <li ng-class='{active:show_what==3}'><a href='#' ng-click='show_what=3'><span class="fa fa-lg fa-file-text-o"></span> Pretty XML</a></li>
    <li ng-class='{active:show_what==4}'><a href='#' ng-click='show_what=4'><span class="fa fa-lg fa-file-text-o"></span> Pretty SQL</a></li>
    <li ng-class='{active:show_what==5}'><a href='#' ng-click='show_what=5'><span class="fa fa-lg fa-file-text-o"></span> Pretty HTML</a></li>
  </ul>
</div>
    <div class="clearfix"></div><br>

<legend><h4>Prettify {{directed_code | uppercase}} Code</h4></legend>


<form>
    <div class="col-sm-4">
        <label>Text (String) ({{directed_code}} code)</label>
        <textarea rows="25" cols="60" class='form-control' ng-model='before_text' style='width:100%'></textarea>
        <br>
    <button type='submit' ng-click='compileIt()' class='btn btn-primary btn-lg btn-block'>Prettify Code <span class='fa fa-arrow-right'></span></button>
        
        
    </div>
    <div class="col-sm-8">
        <label>Pretty Code (output)</label>
        <pre>
            <code class="{{directed_code}}" id='output' style='width:100%;height:100%'>

            </code>
        </pre> 
    </div>



<form>

<div class="clearfix"></div><br>

<div class="alert">
    <p>Recommended JSON Validator: <a href="http://jsonlint.com" target='_blank'>JSONLint.com/</a></p>
</div>

    <!-- <div class=''></div> -->








<div class="clearfix"></div>
<br>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <script type="text/javascript" src='js/vkbeautify.js'></script>
    <script type="text/javascript">
        var myApp=angular.module('myApp',['ngRoute']);
        myApp.controller('MainController',function($scope,$timeout){
        $scope.show_what = getParameterByName('show_what');

        $scope.before_text = '{"a":1,"b":"foo","c":[false,"false",null,"null",{"d":{"e":130000,"f":"1.3e5"}},{"name":"ahmed","age":22,"job":"programer"}]}';
        load_highliter();


    $scope.compileIt = function(){
                if($scope.before_text){
                    // try {
                        // var json_txt = JSON.parse($scope.before_text);
                        // var str2 = JSON.stringify(json_txt, undefined, 4);
                        var output;
                        if($scope.directed_code=="json"){
                            output = vkbeautify.json($scope.before_text);
                            // output = json_syntaxHighlight(output);
                        }else if($scope.directed_code=="xml"){
                            output = vkbeautify.xml($scope.before_text);
                        }else if($scope.directed_code=="css"){
                            output = vkbeautify.css($scope.before_text);
                        }else if($scope.directed_code=="sql"){
                            output = vkbeautify.sql($scope.before_text);
                        }else if($scope.directed_code=="html"){
                            output = vkbeautify.xml($scope.before_text);
                        }       
                        // console.log(output);                                          
                        write_output(escapeHtml(output));
                        // write_output("&lt;h1&gt;hello man&lt;/h1&gt;");
                }
            }

    $timeout(function(){
        $scope.compileIt();
        $scope.$watchGroup(["before_text","show_what"],function(){
            if($scope.before_text) $scope.compileIt();
            $timeout( _ => {load_highliter()} , 500);
        });
    },300);
    $scope.$watch('show_what',function(){
        if($scope.show_what==1) $scope.directed_code = "json";
        if($scope.show_what==2) $scope.directed_code = "css";
        if($scope.show_what==3) $scope.directed_code = "xml";
        if($scope.show_what==4) $scope.directed_code = "sql";
        if($scope.show_what==5) $scope.directed_code = "html";
    });

        });


function load_highliter(){
    $('#output').each(function(i, block) {
        hljs.highlightBlock(block);
    });
}



function write_output(output_str){document.getElementById("output").innerHTML = output_str; }
function json_syntaxHighlight(json) {
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}
function escapeHtml(html_text) {
    return html_text
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
}

    </script>
    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>