<!doctype html>
<html ng-app='myApp'>
<head>

<title>Markdown Parser</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>

<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>

<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>
    <script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>

</head>

<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-pencil'></span> MarkDown Parser: <small>Write Faster With Markdown</small></h2></legend>



<div id='textarea1' class="col-sm-5">
    <p>CSS (input)</p>
    <textarea class='form-control mytextarea' id="text-input" ng-model='txt1' ng-change='markdownConverter()' rows="25"></textarea>
    <input type='file' class='hidden upload_input' />
    <span class='fa fa-file-code-o btn file_btn' title='Import a File'></span>
    <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
    <span class='fa fa-cut btn cut_btn' title='Cut Text'></span>
    <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
    <span class='fa fa-trash btn emptyAll' title='Empty All Text'></span>

    <a href='' download="index.html" style="display:none" class='hidden download_content_link'></a>
    <span class='fa fa-save btn download_content' title='Download Content'></span>


    <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
    <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
    <span class='pull-right'>&nbsp;&nbsp;</span>
    <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
    <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>


<div class="clearfix"></div><br>
        <a target='_blank' href="https://github.com/Ahmed-Badawy/Learning-Markdown" class='btn btn-primary btn-block'>Learn How to Write MarkDown</a>  

</div>


       
      <div class='col-sm-7'>

<div class='row'>
  <ul class="nav nav-tabs">
    <li ng-class='{active:show_what==1}'><a href='#' ng-click='show_what=1'>Render Markdown</a></li>
    <li ng-class='{active:show_what==2}'><a href='#' ng-click='show_what=2'>Markdown to HTML</a></li>
  </ul>
</div>
<div class="clearfix"></div><br>

    <div id="preview" ng-show='show_what==1'></div>
    <textarea id="html_preview" ng-show='show_what==2' class='form-control' rows='25'></textarea>

      </div>  




<div class="clearfix"></div>
<br>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script type="text/javascript" src='js/markdown.min.js'></script>

    <script type="text/javascript">
        var myApp=angular.module('myApp',['ngRoute']);
        // myApp.filter('markdownFilter',function( ){
        //     return function(string){
        //         if(string) return markdown.toHTML(string);    
        //         else return "";
        //     }
        // });
        myApp.controller('MainController',function($scope){
            $scope.show_what = 1;
            var preview = document.getElementById("preview");
            var html_preview = document.getElementById("html_preview");

            $scope.txt1 = `#Header 1
##Header 2
### Header 3
####Header 4
####Header 5
#####Header 6

# أحمد بدوى السيد - Foreign Langu


Page Header    
---

normal paragraph  **Bold Text** here

    this is a pre tag

\`\`\`this is how we write code \`\`\`

##### Link:  [ahmed-badawy.com](http://ahmed-badawy.com)
---

##### Image:-
![Alt text](../../../images/me.jpg)

---

##### Image inside a Link (click to go to my website):-
[![Alt text](../../../images/me.jpg)](http://ahmed-badawy.com)

____    


  

- list item 1
- list item 2
- list item 3


####links array
- [google](http://google.com)
- [ahmed-badawy.com](http://ahmed-badawy.com)
- [github.com](http://github.com)
- [stackoverflow.com](http://stackoverflow.com)


*  list 2 item 1
*  list 2 item 2


Markdown is a lightweight markup language based on the formatting conventions that people naturally use in email.  As [John Gruber] writes on the [Markdown site][df1]

> The overriding design goal for Markdown's
> formatting syntax is to make it as readable
> as possible. The idea is that a
> Markdown-formatted document should be
> publishable as-is, as plain text, without
> looking like it's been marked up with tags
> or formatting instructions.

* [plugins/dropbox/README.md] (PlDb)
* [plugins/github/README.md] (PlGh)`;



            $scope.markdownConverter = function(){
                var markdown_value = markdown.toHTML($scope.txt1);
                if($scope.txt1) preview.innerHTML = markdown_value;    
                if($scope.txt1) html_preview.value = markdown_value;    
            }
            $scope.markdownConverter();

        });


window.onload = function(){
    apply_text_area('textarea1','text/html');
};

    </script>

<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>