
<div class='row'>
  <ul class="nav nav-tabs">
    <li ng-class='{active:show_what==1}'><a href='minify-js.html?show_what=1'><span class='fa fa-compress'></span> Minify JavaScirpt</a></li>
    <li ng-class='{active:show_what==6}'><a href='minify-html.html?show_what=6'><span class='fa fa-compress'></span> Minify HTML</a></li>
    <li ng-class='{active:show_what==2}'><a href='minify-css.html?show_what=2'><span class='fa fa-compress'></span> Minify CSS</a></li>
    <li ng-class='{active:show_what==3}'><a href='minify-xml.html?show_what=3'><span class='fa fa-compress'></span> Minify XML</a></li>
    <li ng-class='{active:show_what==4}'><a href='minify-json.html?show_what=4'><span class='fa fa-compress'></span> Minify JSON</a></li>
    <li ng-class='{active:show_what==5}'><a href='minify-sql.html?show_what=5'><span class='fa fa-compress'></span> Minify SQL</a></li>
    <li ng-class='{active:show_what==7}'><a href='minify-php.html?show_what=7'><span class='fa fa-compress'></span> Minify PHP</a></li>
    <li ng-class='{active:show_what==8}'><a href='minify-java.html?show_what=8'><span class='fa fa-compress'></span> Minify JAVA</a></li>
  </ul>
</div>
    <div class="clearfix"></div><br>
