
<div class='row'>
  <ul class="nav nav-tabs">
    <li ng-class='{active:show_what==1}'><a href='minify-js.html?show_what=1'>Minify JavaScirpt</a></li>
    <li ng-class='{active:show_what==6}'><a href='minify-html.html?show_what=6'>Minify HTML</a></li>
    <li ng-class='{active:show_what==2}'><a href='minify-css.html?show_what=2'>Minify CSS</a></li>
    <li ng-class='{active:show_what==3}'><a href='minify-xml.html?show_what=3'>Minify XML</a></li>
    <li ng-class='{active:show_what==4}'><a href='minify-json.html?show_what=4'>Minify JSON</a></li>
    <li ng-class='{active:show_what==5}'><a href='minify-sql.html?show_what=5'>Minify SQL</a></li>
    <li ng-class='{active:show_what==7}'><a href='minify-sql.html?show_what=7'>Minify PHP</a></li>
    <li ng-class='{active:show_what==8}'><a href='minify-sql.html?show_what=8'>Minify JAVA</a></li>
  </ul>
</div>
    <div class="clearfix"></div><br>
