<!doctype html>
<html ng-app="myApp">
<head>

<title>Color Palettes</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />


<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

<script  type="text/javascript" src="../../../js-apps/layout.js"></script>

<style type="text/css">
    #color-palets .cf-white{
        color:white;
    }
    #color-palets .cf-black{
        color:#222;
    }
    #color-palets tr{
        color:#fff;
        height:80px;
        text-align: center;
        cursor: pointer;
    }
/*263238*/




</style>


</head>

<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2> <span class='fa fa-paint-brush'></span> Color Palettes: <small>The Fast way to choose your color theme</small></h2></legend>

<div class='row' style='background-color:#{{cur_color}}'>
    <div class='col-sm-12' id='color-palets'>
        <table class='table'>
            <tr ng-repeat='color in colors_pallets'>
                <th style="background-color:#{{color.base_color}}" class='cf-white'>{{color.name}}</th>
                <td class='copy_cdn' ng-repeat='deg in color.degs' data-clipboard-text='{{deg}}' style='background-color:#{{deg}}' ng-click='get_color(deg)' ng-mouseenter='hovered(deg)'>{{deg}}</td>
            </tr>
        </table>
    </div>
</div>



<div class="clearfix"></div>
<br>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script type="text/javascript">
        var myApp=angular.module('myApp',['ngRoute']);
        myApp.controller('MainController',function($scope){
            
            // $scope.get_color = function(color){
            //     console.log(color);
            //     $scope.cur_color = color;
            //     // toastr.info("You Copied The Color "+color);
            // }
            $scope.hovered = function(color){
                $scope.cur_color = color;
            }


            $scope.colors_pallets = [
                {name:"Red",base_color:"F44336",
                degs:[
                    "FFEBEE",
                    "FFCDD2",
                    "EF9A9A",
                    "E57373",
                    "EF5350",
                    "F44336",
                    "E53935",
                    "D32F2F",
                    "C62828",
                    "B71C1C",
                    "FF8A80",
                    "FF5252",
                    "FF1744",
                    "D50000"
                ]},

                {name:"Pink",base_color:"E91163",
                degs:[
                    "FCE4EC",
                    "F8BBD0",
                    "F48FB1",
                    "F06292",
                    "EC407A",
                    "E91E63",
                    "D81B60",
                    "C2185B",
                    "AD1457",
                    "880E4F",
                    "FF80AB",
                    "FF4081",
                    "F50057",
                    "C51162", 
                ]},

                {name:"Purple",base_color:"9C27B0",
                degs:[
                    "F3E5F5",
                    "E1BEE7",
                    "CE93D8",
                    "BA68C8",
                    "AB47BC",
                    "9C27B0",
                    "8E24AA",
                    "7B1FA2",
                    "6A1B9A",
                    "4A148C",
                    "EA80FC",
                    "E040FB",
                    "D500F9",
                    "AA00FF"
                ]},

                {name:"Deep Purple",base_color:"673AB7",
                degs:[
                    "EDE7F6",
                    "D1C4E9",
                    "B39DDB",
                    "9575CD",
                    "7E57C2",
                    "673AB7",
                    "5E35B1",
                    "512DA8",
                    "4527A0",
                    "311B92",
                    "B388FF",
                    "7C4DFF",
                    "651FFF",
                    "6200EA"
                ]},

                {name:"Indigo",base_color:"3F51B5",
                degs:[
                    "E8EAF6",
                    "C5CAE9",
                    "9FA8DA",
                    "7986CB",
                    "5C6BC0",
                    "3F51B5",
                    "3949AB",
                    "303F9F",
                    "283593",
                    "1A237E",
                    "8C9EFF",
                    "536DFE",
                    "3D5AFE",
                    "304FFE"
                ]},

                {name:"Blue",base_color:"2196F3",
                degs:[
                    "E3F2FD",
                    "BBDEFB",
                    "90CAF9",
                    "64B5F6",
                    "42A5F5",
                    "2196F3",
                    "1E88E5",
                    "1976D2",
                    "156DC0",
                    "0D47A1",
                    "82B1FF",
                    "448AFF",
                    "2979FF",
                    "2962FF",
                ]},

                {name:"Light Blue",base_color:"03A9F4",
                degs:[
                    "E1F5FE",
                    "B3E5FC",
                    "81D4FA",
                    "4FC3F7",
                    "29B6F6",
                    "03A9F4",
                    "039BE5",
                    "0288D1",
                    "0277BD",
                    "01579B",
                    "80D8FF",
                    "40C4FF",
                    "00B0FF",
                    "0091EA",
                ]},

                {name:"Cyan",base_color:"00BCD4",
                degs:[
                    "E0F7FA",
                    "B2EBF2",
                    "80DEEA",
                    "4DD0E1",
                    "26C6DA",
                    "00BCD4",
                    "00ACC1",
                    "0097A7",
                    "00838F",
                    "006064",
                    "84FFFF",
                    "18FFFF",
                    "00E5FF",
                    "00B8D4",
                ]},

                {name:"Teal",base_color:"009688",
                degs:[
                    "E0F2F1",
                    "B2DFDB",
                    "80CBC4",
                    "4DB6AC",
                    "26A69A",
                    "009688",
                    "00897B",
                    "00796B",
                    "00695C",
                    "004D40",
                    "A7FFEB",
                    "64FFDA",
                    "1DE9B6",
                    "00BFA5",
                ]},

                {name:"Green",base_color:"4CAF50",
                degs:[
                    "E8F5E9",
                    "C8E6C9",
                    "A5D6A7",
                    "81C784",
                    "66BB6A",
                    "4CAF50",
                    "34A047",
                    "388E3C",
                    "2E7D32",
                    "1B5E20",
                    "B9F6CA",
                    "69F0AE",
                    "00E676",
                    "00C853",
                ]},

                {name:"Light Green",base_color:"8BC34A",
                degs:[
                    "F1F8E9",
                    "DCEDC8",
                    "C5E1A5",
                    "AED581",
                    "9CCC65",
                    "8BC34A",
                    "7CB342",
                    "689F38",
                    "558B2F",
                    "33691E",
                    "CCFF90",
                    "B2FF59",
                    "76FF03",
                    "64DD17",
                ]},

                {name:"Lime",base_color:"CDDC39",
                degs:[
                    "F9FBE8",
                    "F0F4C3",
                    "E6EE9C",
                    "DCE775",
                    "D4E157",
                    "CDDC39",
                    "C0CA33",
                    "AFB42B",
                    "9E9D24",
                    "827717",
                    "F4FF81",
                    "EEFF41",
                    "C6FF00",
                    "AEEA00",
                ]},

                {name:"Yellow",base_color:"FFEB3B",
                degs:[
                    "FFFDE7",
                    "FFF9C4",
                    "FFF59D",
                    "FFF176",
                    "FFEE58",
                    "FFEB3B",
                    "FDD835",
                    "FBC02D",
                    "F9A825",
                    "F57F17",
                    "FFFF8D",
                    "FFFF00",
                    "FFEA00",
                    "FFD600",
                ]},

                {name:"Amber",base_color:"FFC107",
                degs:[
                    "FFF8E1",
                    "FFECB3",
                    "FFE082",
                    "FFD54F",
                    "FFCA28",
                    "FFC107",
                    "FFB300",
                    "FFA000",
                    "FF8F00",
                    "FF6F00",
                    "FFE57F",
                    "FFD740",
                    "FFC400",
                    "FFAB00",
                ]},

                {name:"Orange",base_color:"FF9800",
                degs:[
                    "FFF3E0",
                    "FFE0B2",
                    "FFCC80",
                    "FFB74D",
                    "FFA726",
                    "FF9800",
                    "FB8C00",
                    "F57C00",
                    "EF6C00",
                    "E65100",
                    "FFD180",
                    "FFAB40",
                    "FF9100",
                    "FF6D00",
                ]},

                {name:"Deep Orange",base_color:"FF5722",
                degs:[
                    "FBE9E7",
                    "FFCCBC",
                    "FFAB91",
                    "FF8A65",
                    "FF7043",
                    "FF5722",
                    "F4511E",
                    "E64A19",
                    "D84315",
                    "BF360C",
                    "FF9E80",
                    "FF6E40",
                    "FF3D00",
                    "DD2C00",
                ]},

                {name:"Brown",base_color:"765548",
                degs:[
                    "EFEBE9",
                    "D7CCC8",
                    "BCAAA4",
                    "A1887F",
                    "8D6E63",
                    "795548",
                    "6D4C41",
                    "5D4037",
                    "4E342E",
                    "3E2723",
                ]},

                {name:"Grey",base_color:"9E9E9E",
                degs:[
                    "FAFAFA",
                    "F5F5F5",
                    "EEEEEE",
                    "E0E0E0",
                    "BDBDBD",
                    "9E9E9E",
                    "757575",
                    "919191",
                    "424242",
                    "212121",
                ]},

                {name:"Blue Grey",base_color:"607D8B",
                degs:[
                    "ECEFF1",
                    "CFD8DC",
                    "B0BEC5",
                    "90A4AE",
                    "78919C",
                    "607D8B",
                    "546E7A",
                    "455A64",
                    "37474F",
                    "263238",
                ]},

            ];

        });


    var copy_cdn = new Clipboard('.copy_cdn');
    copy_cdn.on('success', function(e) {toastr.info("You Copied The Color "+e.text);
 });
    copy_cdn.on('error', function(e) { console.log(e); });



    </script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>