<!doctype html>
<html ng-app='myApp'>
<head>

<title>Escape HTML</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

</head>
<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>
<legend><h2><span class='fa fa-html5'></span> (Escape / Unescape) HTML <small>write safe html without any hazard</small></h2></legend>


<div class='row'>
  <ul class="nav nav-tabs">
    <li ng-class='{active:show_what==1}'><a href='#' ng-click='show_what=1'>Escape HTML</a></li>
    <li ng-class='{active:show_what==2}'><a href='#' ng-click='show_what=2'>UnEscape HTML</a></li>
  </ul>
</div>
    <div class="clearfix"></div><br>



<div class="row" ng-show='show_what==1'>
<div class="col-sm-6">
    <label>HTML To Escape (html) (input)</label>
    <textarea class='form-control' ng-model='html_text' rows='10'></textarea>
</div>
<div class="col-sm-6">
    <label>Safe HTML (string) (output)</label>
    <textarea class='form-control' readonly rows='10' id='textview'></textarea>
    <small id='safe_html' class='btn btn-default btn-xs copy_btn'>copy to clipboard</small>
</div>

<div class='col-sm-12'>
    <h3>In Page Test <small>(what get's printed in the html)</small></h3>
    <pre id='preview'></pre>
    <pre class='hidden'>{{html_text | escape_html}}</pre>
</div>

    <div class="clearfix"></div><br>
</div>


<div class="row" ng-show='show_what==2'>
    <div class="col-sm-6">
        <label>Escaped Safe HTML (string) (input)</label>
        <textarea class='form-control' ng-model='safe_text' rows='10'></textarea>
    </div>
    <div class="col-sm-6">
        <label>HTML (html) (output)</label>
        <textarea class='form-control' readonly rows='10' id='show_what2_html'></textarea>
    <small class='btn btn-xs btn-default copy_btn' id='unsafe_html'>copy to clipboard</small>
    </div>
    <pre class='hidden'>{{safe_text | unescape_html}}</pre>
    <div class="clearfix"></div><br>
</div>






<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>
    <script type="text/javascript">
    var preview = "",
    output = "";


var myApp=angular.module('myApp',['ngRoute']);

myApp.filter('escape_html',function(){
    return function( str,preview_pram ){
        if(str){
            console.log("filter run");

            var output = escapeHtml(str);
            var preview = escapeHtml(escapeHtml(str));
            window.document.getElementById("textview").innerHTML = preview;
            window.document.getElementById("preview").innerHTML = output;
        }
    }
});

myApp.filter('unescape_html',function(){
    return function( str ){
        if(str){
            console.log("filter run");
            window.document.getElementById("show_what2_html").innerHTML =unescapeHtml(str);
        }
    }
});

function escapeHtml(html_text) {
    return html_text
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
}
function unescapeHtml(text_text) {
    return text_text
         .replace("&amp;","&")
         .replace("&lt;","<")
         .replace("&gt;",">")
         .replace("&quot;",'"')
         .replace("&#039;","'");
}

myApp.controller('MainController',function($scope){
    $scope.show_what = getParameterByName('show_what');;
    $scope.html_text = '<link rel="stylesheet" href="this is a normal css link">\n<style>\nh1{\ncolor:red;\n}\n</style>';
});

    var clipboard_copy1 = new Clipboard('#safe_html', {
        text: function() {
            return window.document.getElementById("preview").innerHTML;
        }
    });   
    var clipboard_copy2 = new Clipboard('#unsafe_html', {
        text: function() {
            return window.document.getElementById("show_what2_html").innerHTML;
        }
    });   

    clipboard_copy1.on('success', function(e) { toastr.warning('Clipboard: Text Was Copied.') });
    clipboard_copy1.on('error', function(e) { console.log(e); });

    clipboard_copy2.on('success', function(e) { toastr.warning('Clipboard: Text Was Copied.') });
    clipboard_copy2.on('error', function(e) { console.log(e); });

    </script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>