<!doctype html>
<html ng-app='myApp' ng-controller='MainController'>
<head>

<title>Box Shadow</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>


<script  type="text/javascript" src="../../../js-apps/layout.js"></script>
<script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>

<style type="text/css">
    #box{
        width: 200px;
        height: 200px;
        background-color: {{box_color}};
        {{css_model}}
    }
</style>

</head>

<body>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-stop'></span> CSS3 Box Shadow Generator: <small>helps you generate Box Shadow CSS Code</small></h2></legend>





<div class="row">
<div class="col-sm-6">

<div class="row">
    <div class='col-sm-6'>
        <label>Vertical Distance: {{bs.v}}</label>
        <input type='range' class='form-control' min='-200' max='200' ng-model='bs.v'>
    </div>
    <div class='col-sm-6'>
        <label>Horizontal Distance: {{bs.h}}</label>
        <input type='range' class='form-control' min='-200' max='200' ng-model='bs.h'>
    </div>    
</div>
<br>
<div class="row">
    <div class='col-sm-6'>
        <label>Blur: {{bs.blur}}</label>
        <input type='range' class='form-control' min='0' max='30' ng-model='bs.blur'>
    </div>   
    <div class='col-sm-6'>
        <label>Shadow Opacity: {{bs.opacity}}</label>
        <input type='range' class='form-control' min='0' max='1' step='.01' ng-model='bs.opacity'>
    </div>     
</div>
<br>

<div class="row">
    <div class='col-sm-6'>
        <label>Shadow Color: {{bs.color}}</label>
        <input type='color' class='form-control' ng-model='bs.color'>
    </div>  

    <div class='col-sm-6'>
        <label>Shadow Spread: {{bs.spread}}</label>
        <input type='range' class='form-control' min='-50' max='50' ng-model='bs.spread'>
    </div>    
</div>
<br>

    <div>
        <label>Inset: &nbsp; </label>
        <label> &nbsp; False <input type='radio' ng-model='bs.inset' value=' '> </label>  
        <label> &nbsp; True <input type='radio' ng-model='bs.inset' value='inset'></label> 
    </div>

<br>
<div class="row">
    <div class='col-sm-6'>
        <label>Box Color: {{box_color}}</label>
        <input type='color' class='form-control' ng-model='box_color'>
    </div>
    <div class='col-sm-6'>
        <label>BackGround Color: {{bg_color}}</label>
        <input type='color' class='form-control' ng-model='bg_color'>
    </div>       
</div> 

</div>

<div class="col-sm-6">


    <div class='col-sm-12' style='background-color:{{bg_color}}'>
        <div id="box" style='margin:30px;'></div>
    </div>


<div class="clearfix"></div><br>


    <div id='textarea1'>
        <p>CSS (input)</p>
        <textarea class='form-control mytextarea' disabled rows='5' ng-model='css_model'></textarea>
        <input type='file' class='hidden upload_input' />
        <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
        <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
        <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
        <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
        <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

        <a href='' download="style.css" style="display:none" class='hidden download_content_link'></a>
        <span class='fa fa-save btn download_content' title='Download Content'></span>


        <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
        <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
        <span class='pull-right'>&nbsp;&nbsp;</span>
        <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
        <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
    </div>

</div>

</div>




<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>



<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<script type="text/javascript">
    
window.onload = function(){
    apply_text_area('textarea1','text/css');
};
    function hexToRgb(hex) {
        // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        hex = hex.replace(shorthandRegex, function(m, r, g, b) {
            return r + r + g + g + b + b;
        });

        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }

</script>
<script type="text/javascript">
    var myApp=angular.module('myApp',['ngRoute']);
    myApp.controller('MainController',function($scope,$timeout){ 
        $scope.bs = {
            v : 15 , 
            h : -15 ,
            blur : 19 ,
            color: "#666666", 
            opacity : .75 ,
            spread : 0 , 
            inset : " "
        };
        $scope.box_color = "#337ab7";
        $scope.bg_color = "#ffffff";
        $scope.css_model = "";

        $scope.$watchGroup(['bs.v','bs.h','bs.blur','bs.color','bs.opacity','bs.spread','bs.inset'],function(){
            // if(promise) $timeout.cancel(promise);
            // promise = $timeout(function(){
                $scope.compile();
            // },500);
        });

        $scope.compile = function(){
            color = hexToRgb($scope.bs.color);
            out = str_parse("%s %spx %spx %spx %spx rgba(%s, %s, %s, %s);",
                $scope.bs.inset,
                $scope.bs.v,
                $scope.bs.h,
                $scope.bs.blur,
                $scope.bs.spread,
                color.r,
                color.g,
                color.r,
                $scope.bs.opacity
            );
    $scope.css_model = str_parse(`-webkit-box-shadow: %s
-moz-box-shadow:    %s
box-shadow:         %s`
,out,out,out);

        }
        $scope.compile();

    });
</script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>