<!doctype html>
<html ng-app='myApp' ng-controller='MainController'>
<head>

<title>Web Fonts Viewer</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>


<script  type="text/javascript" src="../../../js-apps/layout.js"></script>
<script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>

<style type="text/css">
    h3{
        margin-bottom: 0;
        margin-top: 0;
    }
</style>

</head>

<body>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-css3'></span> Web Fonts Viewer: <small>View web-safe fonts for you to choose from.</small></h2></legend>





<div class="row">


<div class="col-sm-12">
<input class='form-control' ng-model='text_model' placeholder='Printed Text'></input>


    <h3 class='col-sm-6' ng-repeat='font in fonts'>
    <label>{{font.name}}</label>
    <pre style='font-family: "{{font.name}}"'>{{text_model}}</pre>
    <p style='font-family: "{{font.name}}"'>{{text_model}}</p>

    </h3>





<div class="clearfix"></div><br>


    <div id='textarea1'>
        <p>CSS (input)</p>
        <textarea class='form-control mytextarea' disabled rows='13' ng-model='css_model'></textarea>
        <input type='file' class='hidden upload_input' />
        <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
        <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
        <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
        <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
        <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

        <a href='' download="style.css" style="display:none" class='hidden download_content_link'></a>
        <span class='fa fa-save btn download_content' title='Download Content'></span>


        <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
        <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
        <span class='pull-right'>&nbsp;&nbsp;</span>
        <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
        <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
    </div>

</div>

</div>




<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>



<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<script type="text/javascript">
    
window.onload = function(){
    apply_text_area('textarea1','text/css');
};
</script>

<script type="text/javascript">
    var myApp=angular.module('myApp',['ngRoute']);
    myApp.controller('MainController',function($scope,$timeout){
        $scope.text_model = "Test Text";
        $scope.fonts = [
            {name:"Arial"},
            {name:"Arial Black"},
            {name:"Arial Narrow"},
            {name:"Arial Rounded MT Bold"},
            {name:"Avant Garde"},
            {name:"Calibri"},
            {name:"Candara"},
            {name:"Century Gothic"},
            {name:"Franklin Gothic Medium"},
            {name:"Futura"},
            {name:"Geneva"},
            {name:"Gill Sans"},
            {name:"Helvetica"},
            {name:"Impact"},
            {name:"Lucida Grande"},
            {name:"Optima"},
            {name:"Segoe UI"},
            {name:"Tahoma"},
            {name:"Trebuchet MS"},
            {name:"Verdana"},





            {name:"Big Caslon"},
            {name:"Bodoni MT"},
            {name:"Book Antiqua"},
            {name:"Calisto MT"},
            {name:"Cambria"},
            {name:"Didot"},
            {name:"Garamond"},
            {name:"Georgia"},
            {name:"Didot"},
            {name:"Didot"},
            {name:"Didot"},
            {name:"Didot"},
        ];

        // $scope.css_model = "";
        // $scope.select_style = style => $scope.css_model=style.css;
        // $scope.css_model = $scope.styles[4].css;
    });
</script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>





<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
.green{
    color:green;
}
    </style>
</head>
<body>


<h1>Hello World</h1>
<p>this is it man</p>
<h3 style='color:red'>Hello Red style</h3>
<h3 class='green'>Hello Green Class</h3>

</body>
</html>