<!doctype html>
<html ng-app='myApp' ng-controller='MainController'>
<head>

<title>Gradient Generator</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>


<script  type="text/javascript" src="../../../js-apps/layout.js"></script>
<script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>

<style type="text/css">

    html {
        height: 100%;
    }
    body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: all .5s linear;    
    }
    body{
        {{css_model}}  
    }
</style>

</head>

<body>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-file-picture-o'></span> Gradient Generator: <small>helps you generate Gradient CSS Code</small></h2></legend>





<div class="row">
<div class="col-sm-6">
    <div>
        <label>Angle: {{bs.angle}}</label>
        <input type='range' class='form-control' min='0' max='360' ng-model='bs.angle'>
    </div>

<div class="clearfix"></div><br>
<div class="row">
    <div class='col-sm-6'>
        <label>Start Color: {{bs.start_color}}</label>
        <input type='color' class='form-control' ng-model='bs.start_color'>
    </div>

    <div class='col-sm-6'>
        <label>End Color: {{bs.end_color}}</label>
        <input type='color' class='form-control' ng-model='bs.end_color'>
    </div>
<div class="clearfix"></div><br>
    <div class='col-sm-6'>
        <label>Start: {{bs.start}}</label>
        <input type='range' class='form-control' min='0' max='100' ng-model='bs.start'>
    </div>
    <div class='col-sm-6'>
        <label>End: {{bs.end}}</label>
        <input type='range' class='form-control' min='0' max='100' ng-model='bs.end'>
    </div>
</div>

<br>
</div>





<div class="col-sm-6">

    <div id='textarea1'>
        <p>CSS (input)</p>
        <textarea class='form-control mytextarea' disabled rows='7' ng-model='css_model'></textarea>
        <input type='file' class='hidden upload_input' />
        <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
        <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
        <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
        <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
        <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

        <a href='' download="style.css" style="display:none" class='hidden download_content_link'></a>
        <span class='fa fa-save btn download_content' title='Download Content'></span>


        <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
        <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
        <span class='pull-right'>&nbsp;&nbsp;</span>
        <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
        <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
    </div>

</div>

</div>

<hr>

<div class='text-left'>
    <a ng-repeat='grad in gradients' class='btn' ng-click='set_gradient(grad)' style='background-color:rgba(255,255,255,.3);color:#333;margin:1px;'>{{grad.name}}</a>   
</div>

<hr>






<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>



<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<script type="text/javascript" src='includes/gradients.js'></script>
<script type="text/javascript">
    
window.onload = function(){
    apply_text_area('textarea1','text/css');
};
    function hexToRgb(hex) {
        // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        hex = hex.replace(shorthandRegex, function(m, r, g, b) {
            return r + r + g + g + b + b;
        });

        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }

</script>
<script type="text/javascript">
    var myApp=angular.module('myApp',['ngRoute']);
    myApp.controller('MainController',function($scope,$timeout){ 
        $scope.bs = {
            angle : 90 ,
            start: 15,
            end: 75,
            start_color:"#DD5E89",
            end_color:"#F7BB97" 
        };

        $scope.bg_color = "#ffffff";
        $scope.css_model = "";
        var promise = false;

        $scope.$watchGroup(['bs.angle','bs.start','bs.end','bs.start_color','bs.end_color'],function(){
            if(promise) $timeout.cancel(promise);
            promise = $timeout(function(){
                $scope.compile();
            },10);
        });

        $scope.compile = function(){
            start_color = hexToRgb($scope.bs.start_color);
            end_color = hexToRgb($scope.bs.end_color);
            // console.log(start_color);
            // console.log(end_color);

            start_color = str_parse("rgb(%s,%s,%s)",start_color.r,start_color.g,start_color.b);
            end_color = str_parse("rgb(%s,%s,%s)",end_color.r,end_color.g,end_color.b);

            start_and_end_color = str_parse("(%sdeg, %s %s%, %s %s%);",
                $scope.bs.angle,
                start_color,
                $scope.bs.start,
                end_color,
                $scope.bs.end
                )

    $scope.css_model = str_parse(
`background: %s;
background: -moz-linear-gradient%s
background: -webkit-linear-gradient%s
background: -o-linear-gradient%s
background: -ms-linear-gradient%s
background: linear-gradient%s`,
        start_color,
        start_and_end_color,
        start_and_end_color,
        start_and_end_color,
        start_and_end_color,
        start_and_end_color
    );

        }
        $scope.compile();



    $scope.gradients = gradients;

    $scope.set_gradient = grad =>{
        $scope.bs = {
            angle : 90 ,
            start: 10,
            end: 90,
            start_color: grad.start_color,
            end_color: grad.end_color 
        };
        $scope.compile();
    }



    });

</script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>