<!doctype html>
<html ng-app='myApp' ng-controller='MainController'>
<head>

<title>CSS Text Effects</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>


<script  type="text/javascript" src="../../../js-apps/layout.js"></script>
<script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>

<style type="text/css">

</style>

</head>

<body>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-reorder'></span> CSS3 Multi Column: <small>Layout Your Columns in ease</small></h2></legend>





<div class="row">

<div class="col-sm-3">
    <div>
        <label>Column Count: {{bs.col_count}}</label>
        <input type='range' class='form-control' min='2' max='8' ng-model='bs.col_count'>
    </div>
    <div>
        <label>Column Gap: {{bs.col_gap}}</label>
        <input type='range' class='form-control' min='0' max='50' ng-model='bs.col_gap'>
    </div>
    <div>
        <label>Font size: {{bs.font_size}}</label>
        <input type='range' class='form-control' min='5' max='40' ng-model='bs.font_size'>
    </div>
    <div>
        <label>Border size: {{bs.border_size}}</label>
        <input type='range' class='form-control' min='0' max='20' ng-model='bs.border_size'>
    </div>  
    <div>
        <label>Font Color: {{bs.font_color}}</label>
        <input type='color' class='form-control' ng-model='bs.font_color'>
    </div>  
</div>


<div class="col-sm-9">


<div class="multi-column" style="{{css_model}}">With CSS3 multiple columns, you can create table like column just like column section that you see in newspapers and books. It’s properties of are column-count, column-gap, column-fill, column-rule-color, column-rule-style, column-rule-width, column-span, column-width and column-rule. Column-gap property are the space between each columns. Column-rule are the width, style and color for each column. Column-count is the number column you desired for your content. It is supported by the latest IE 10, Chrome 4+, Firefox 2+, Safari 3.1+ and Opera 15+. Below are the configurations with many options for your multi column needs. Play around with it and share with your fellow developers.</div>



<div class="clearfix"></div><br>


    <div id='textarea1'>
        <p>CSS (input)</p>
        <textarea class='form-control mytextarea' disabled rows='13' ng-model='css_model'></textarea>
        <input type='file' class='hidden upload_input' />
        <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
        <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
        <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
        <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
        <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

        <a href='' download="style.css" style="display:none" class='hidden download_content_link'></a>
        <span class='fa fa-save btn download_content' title='Download Content'></span>


        <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
        <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
        <span class='pull-right'>&nbsp;&nbsp;</span>
        <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
        <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
    </div>

</div>

</div>




<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>



<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<script type="text/javascript">
    
window.onload = function(){
    apply_text_area('textarea1','text/css');
};
</script>

<script type="text/javascript">
    var myApp=angular.module('myApp',['ngRoute']);
    myApp.controller('MainController',function($scope,$timeout){
        $scope.css_model = "";
        $scope.select_style = style => $scope.css_model=style.css;
        $scope.bs = {
            col_count : 3,
            col_gap : 40,
            font_size : 16, 
            border_size : 5,
            font_color : "#444444"
        }

        $scope.$watchGroup(['bs.col_count','bs.col_gap','bs.font_size','bs.border_size','bs.font_color'],_=>{ 
            $scope.compile();
        });

        $scope.compile = _ =>{
            $scope.css_model = str_parse(
`-moz-column-count:%s;
-webkit-column-count:%s;
column-count:%s;
-moz-column-gap:%spx;
-webkit-column-gap:%spx;
column-gap:%spx;
font-size:%spx;
-moz-column-rule:%spx solid #000;
-webkit-column-rule:%spx solid #000;
column-rule:%spx solid #000;
color:%s;`,
                $scope.bs.col_count,
                $scope.bs.col_count,
                $scope.bs.col_count,
                $scope.bs.col_gap,
                $scope.bs.col_gap,
                $scope.bs.col_gap,
                $scope.bs.font_size,
                $scope.bs.border_size,
                $scope.bs.border_size,
                $scope.bs.border_size,
                $scope.bs.font_color
            );
        }

        $scope.compile();


    });
</script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>