<!doctype html>
<html ng-app='myApp' ng-controller='MainController'>
<head>

<title>Single Page Colors</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>


<script  type="text/javascript" src="../../../js-apps/layout.js"></script>
<script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>

<style type="text/css">

    html {
        height: 100%;
    }
    body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition:all .8s linear;
    }
    #text{ transition:all .8s linear; }
    {{css_model}}      
</style>

</head>

<body>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<!-- <legend><h2><span class='fa fa-file-picture-o'></span> Solid Color Page Background: <small>helps you choose your page single background color</small></h2></legend> -->



<h1 class='text-center' id="text">{{bs.text}} 
<br>
 {{bs.text_color}} - {{bs.bg_color}} </h1>



<div class="row">
<div class="col-sm-6">

<div class="row">
    <div class='col-sm-6'>
        <label>Text:</label>
        <input class='form-control' ng-model='bs.text'>
    </div>
    <div class='col-sm-6'>
        <label>Font Size: {{bs.font_size}}</label>
        <input type='range' class='form-control' min='0' max='200' ng-model='bs.font_size'>
    </div>

<div class="clearfix"></div><br>

    <div class='col-sm-6'>
        <label>BackGround Color: {{bs.bg_color}}</label>
        <input type='color' class='form-control' ng-model='bs.bg_color'>
    </div>

    <div class='col-sm-6'>
        <label>Text Color: {{bs.text_color}}</label>
        <input type='color' class='form-control' ng-model='bs.text_color'>
    </div>
</div>

<div class="clearfix"></div><br>
    
    <label>Choose your SolidColor</label>
    <select class='form-control' ng-model='select_model' ng-change='set_color(select_model)'>
        <option ng-repeat='color in preset_colors' ng-click='color=color' style='background-color:{{color.bg}}' value='{{color}}' selected>{{color.bg}}</option>
    </select>

<br>
</div>





<div class="col-sm-6">

    <div id='textarea1'>
        <p>CSS (input)</p>
        <textarea class='form-control mytextarea' disabled rows='7' ng-model='css_model'></textarea>
        <input type='file' class='hidden upload_input' />
        <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
        <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
        <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
        <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
        <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

        <a href='' download="style.css" style="display:none" class='hidden download_content_link'></a>
        <span class='fa fa-save btn download_content' title='Download Content'></span>


        <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
        <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
        <span class='pull-right'>&nbsp;&nbsp;</span>
        <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
        <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
    </div>

</div>

</div>




<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>



<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<script type="text/javascript" src='includes/colors.js'></script>
<script type="text/javascript">
    
window.onload = function(){
    apply_text_area('textarea1','text/css');
};

</script>
<script type="text/javascript">
    var myApp=angular.module('myApp',['ngRoute']);
    myApp.controller('MainController',function($scope,$timeout){ 
        $scope.bs = {
            text : "Choose Design Colors" ,
            font_size: 100,
            text_color: "#ffffff",
            bg_color:"#0e78b1",
        };

        $scope.css_model = "";
        var promise = false;

        $scope.$watchGroup(['bs.font_size','bs.text_color','bs.bg_color'],function(){
            if(promise) $timeout.cancel(promise);
            promise = $timeout(function(){
                $scope.compile();
            },10);
        });

        $scope.compile = function(){
    $scope.css_model = `body{
    background-color: ${$scope.bs.bg_color}; 
    color: ${$scope.bs.text_color}; 
}
#text{
    color: ${$scope.bs.text_color};
    font-size: ${$scope.bs.font_size}px;    
}
`;

        }
        $scope.compile();


    $scope.preset_colors = colors;
    $scope.set_color = color =>{
        color = JSON.parse(color);
        // console.log(color);        
        if(color.bg){
            console.log(color);
            $scope.bs = {
                text: $scope.bs.text,
                font_size: color.size,
                text_color: color.text,
                bg_color: color.bg,
            };
            $scope.compile();            
        }
    }



    });

</script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>