<!doctype html>
<html ng-app='myApp' ng-controller='MainController'>
<head>

<title>Text Shadow Generator</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>


<script  type="text/javascript" src="../../../js-apps/layout.js"></script>

<style type="text/css">
    #shadow-txt{
        {{css_model}}
    }
</style>

</head>

<body>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>
<a href="#menu-toggle" class="btn btn-default btn-xs fa fa-arrow-right" id="menu-toggle"></a> 



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-reorder'></span> CSS3 Text Shadow Generator : <small>helps you generate Text Shadow CSS Code</small></h2></legend>





<div class="row">
<div class="col-sm-6">
    <div>
        <label>Vertical Distance: {{bs.v}}</label>
        <input type='range' class='form-control' min='-50' max='50' ng-model='bs.v'>
    </div>
    <div>
        <label>Horizontal Distance: {{bs.h}}</label>
        <input type='range' class='form-control' min='-50' max='50' ng-model='bs.h'>
    </div>
    <div>
        <label>Blur: {{bs.blur}}</label>
        <input type='range' class='form-control' min='0' max='30' ng-model='bs.blur'>
    </div>
    <div>
        <label>Shadow Color: {{bs.color}}</label>
        <input type='color' class='form-control' ng-model='bs.color'>
    </div>  
    <div>
        <label>Shadow Opacity: {{bs.opacity}}</label>
        <input type='range' class='form-control' min='0' max='1' step='.01' ng-model='bs.opacity'>
    </div>




<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>




    <br><hr>

    <div>
        <label>Text Color: {{box_color}}</label>
        <input type='color' class='form-control' ng-model='box_color'>
    </div>
    <div>
        <label>BackGround Color: {{box_color}}</label>
        <input type='color' class='form-control' ng-model='bg_color'>
    </div>      
</div>

<div class="col-sm-6">


    <div class='col-sm-12' style='background-color:{{bg_color}};border:10px double #333;border-radius:10px;padding:10px'>
        <h1 id="shadow-txt" style='margin:30px;color:{{box_color}}'>Change My Shadow</h1>
    </div>


<div class="clearfix"></div><br>


    <div id='textarea1'>
        <p>CSS (input)</p>
        <textarea class='form-control mytextarea' disabled rows='5' ng-model='css_model'></textarea>
        <input type='file' class='hidden upload_input' />
        <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
        <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
        <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
        <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
        <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

        <a href='' download="script.js" style="display:none" class='hidden download_content_link'></a>
        <span class='fa fa-save btn download_content' title='Download Content'></span>


        <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
        <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
        <span class='pull-right'>&nbsp;&nbsp;</span>
        <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
        <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
    </div>

</div>

</div>




<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>



<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<script type="text/javascript">
    
window.onload = function(){
    apply_text_area('textarea1','text/css');
};
    function hexToRgb(hex) {
        // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        hex = hex.replace(shorthandRegex, function(m, r, g, b) {
            return r + r + g + g + b + b;
        });

        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }

</script>
<script type="text/javascript">
    var myApp=angular.module('myApp',['ngRoute']);
    myApp.controller('MainController',function($scope,$timeout){ 
        $scope.bs = {
            v : 4 , 
            h : -8 ,
            blur : 7 ,
            color: "#666666", 
            opacity : .75 ,
        };
        $scope.box_color = "#337ab7";
        $scope.bg_color = "#ffffff";
        $scope.css_model = "";

        $scope.$watchGroup(['bs.v','bs.h','bs.blur','bs.color','bs.opacity'],function(){
            // if(promise) $timeout.cancel(promise);
            // promise = $timeout(function(){
                $scope.compile();
            // },500);
        });

        $scope.compile = function(){
            color = hexToRgb($scope.bs.color);
            out = str_parse("%spx %spx %spx rgba(%s, %s, %s, %s);",
                $scope.bs.v,
                $scope.bs.h,
                $scope.bs.blur,
                // $scope.bs.spread,
                color.r,
                color.g,
                color.r,
                $scope.bs.opacity
            );
    $scope.css_model = str_parse(`text-shadow: %s`
,out);

        }
        $scope.compile();

    });
</script>


</body>
</html>