<!doctype html>
<html ng-app='myApp' ng-controller='MainController'>
<head>

<title>CSS3 Transforms Generator</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>
<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>


<script  type="text/javascript" src="../../../js-apps/layout.js"></script>
<script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>

<style type="text/css">
    #box{
        width: 200px;
        height: 200px;
        background-color: #337ab7;
        color:white;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-size: 130%;
    }
</style>

</head>

<body>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-toggle-right'></span> CSS3 Transforms Generator: <small>helps you generate CSS3 Transforms</small></h2></legend>





<div class="row">
<div class="col-sm-6">

<div class="row">
    <div class='col-sm-6'>
        <label>Translate X: {{bs.t_x}}</label>
        <input type='range' class='form-control' min='-500' max='500' ng-model='bs.t_x'>
    </div>
    <div class='col-sm-6'>
        <label>Translate Y: {{bs.t_y}}</label>
        <input type='range' class='form-control' min='-500' max='500' ng-model='bs.t_y'>
    </div>    
</div>
<br>

<div class="row">
    <div class='col-sm-6'>
        <label>Scale: {{bs.scale}}</label>
        <input type='range' class='form-control' min='.1' max='3' step='.1' ng-model='bs.scale'>
    </div>
    <div class='col-sm-6'>
        <label>Rotate: {{bs.rotate}}</label>
        <input type='range' class='form-control' min='0' max='360' ng-model='bs.rotate'>
    </div>    
</div>
<br>

<div class="row">
    <div class='col-sm-6'>
        <label>Skew X: {{bs.s_x}}</label>
        <input type='range' class='form-control' min='-70' max='70' ng-model='bs.s_x'>
    </div>
    <div class='col-sm-6'>
        <label>Skew Y: {{bs.s_y}}</label>
        <input type='range' class='form-control' min='-70' max='70' ng-model='bs.s_y'>
    </div>    
</div>



</div>

<div class="col-sm-6">


    <div class='col-sm-12' style='background-color:{{bg_color}}'>
        <div id="box" style='{{css_model}}'>Transform Me</div>
    </div>


<div class="clearfix"></div><br>


    <div id='textarea1'>
        <p>CSS (input)</p>
        <textarea class='form-control mytextarea' disabled rows='15' ng-model='css_model'></textarea>
        <input type='file' class='hidden upload_input' />
        <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
        <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
        <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
        <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
        <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

        <a href='' download="style.css" style="display:none" class='hidden download_content_link'></a>
        <span class='fa fa-save btn download_content' title='Download Content'></span>


        <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
        <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
        <span class='pull-right'>&nbsp;&nbsp;</span>
        <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
        <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
    </div>

</div>

</div>




<div class="clearfix"></div><br>
<div class="clearfix"></div><br>
<div class="clearfix"></div><br>



<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<script type="text/javascript">
    
window.onload = function(){
    apply_text_area('textarea1','text/css');
};
    function hexToRgb(hex) {
        // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        hex = hex.replace(shorthandRegex, function(m, r, g, b) {
            return r + r + g + g + b + b;
        });

        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }

</script>
<script type="text/javascript">
    var myApp=angular.module('myApp',['ngRoute']);
    myApp.controller('MainController',function($scope,$timeout){ 
        $scope.bs = {
            scale : 1.1 , 
            rotate : 0 ,
            t_x: 0, 
            t_y : 0 ,
            s_x : 0 , 
            s_y : .0 ,
        };
        // $scope.box_color = "#337ab7";
        // $scope.bg_color = "#ffffff";
        $scope.css_model = "";

        $scope.$watchGroup(['bs.scale','bs.rotate','bs.t_y','bs.t_x','bs.s_y','bs.s_x'],function(){
            // if(promise) $timeout.cancel(promise);
            // promise = $timeout(function(){
                $scope.compile();
            // },500);
        });

        $scope.compile = function(){
            out = str_parse("scale(%s) rotate(%sdeg) translate(%spx, %spx) skew(%sdeg, %sdeg);",
                $scope.bs.scale,
                $scope.bs.rotate,
                $scope.bs.t_x,
                $scope.bs.t_y,
                $scope.bs.s_x,
                $scope.bs.s_y
            );

    $scope.css_model = str_parse(`-moz-transform: %s
-webkit-transform: %s
-o-transform: %s
-ms-transform: %s
transform: %s
`
,out,out,out,out,out);

        }
        $scope.compile();

    });
</script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>