<!doctype html>
<html ng-app="myApp">
<head>

<title>Numerical Systems Converter</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />


<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>

<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>
</head>

<body>



    <div id="wrapper" ng-controller='MainController'>

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2> <span class='fa fa-calculator'></span> Numerical System Converter: <small>Convets Between different Numbering systems with ease</small></h2></legend>


<div class='row well col-sm-12'>

    <label class='col-sm-12'><span class='fa fa-arrow-right'></span> Decimal (base 10) <input ng-change='calc(dec,10)' class='form-control' ng-model='dec'/></label><div class="clearfix"></div><br>
    
    <label class='col-sm-12'><span class='fa fa-arrow-right'></span> Binary (base 2) <input ng-change='calc(bin,2)' class='form-control' ng-model='bin'/></label>
    <div class="clearfix"></div><br>
    
    <label class='col-sm-12'><span class='fa fa-arrow-right'></span> Octadecimal (base 8) <input ng-change='calc(oct,8)' class='form-control' ng-model='oct'/></label><div class="clearfix"></div><br>
    
    <label class='col-sm-12'><span class='fa fa-arrow-right'></span> Hexadecimal (base 16) <input ng-change='calc(hex,16)' class='form-control' ng-model='hex'/></label><div class="clearfix"></div><br>

</div>




<div class="clearfix"></div>
<br>


<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script type="text/javascript">
        var myApp=angular.module('myApp',['ngRoute']);
        myApp.controller('MainController',function($scope){
            var num=0 ; var from=null;
            $scope.calc = function(num,from){
                num = num.trim();
                if(num=='' || num==null || num==0) num=0;
                dec = window.parseInt(num,from).toString(10);
                bin = window.parseInt(num,from).toString(2);
                oct = window.parseInt(num,from).toString(8);
                hex = window.parseInt(num,from).toString(16);
                $scope.dec = dec;
                $scope.bin = bin;
                $scope.oct = oct;
                $scope.hex = hex;
            };

        });
    </script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>