<!doctype html>
<html ng-app='myApp'>
<head>
 
<title>B-Markup Notes</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>


<script type="text/javascript" src='../../../assets/plugins/FileSaver.js'></script>
<script  type="text/javascript" src="../../../assets/plugins/ngStorage.min.js"></script>

    <script type="text/javascript" src='js/markdown.min.js'></script>
    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>


</head>

<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-object-group'></span> B-Markup Notes: <small>A fast markdown writer that can be saved & retrieved. it's useful to write notes fast.</small></h2></legend>


    <div class="col-sm-4">
        <label>Write Markup:</label>
        <textarea id="text-input" ng-model='txt1' ng-change='markdownConverter()' rows="25" class='form-control'></textarea>
<div class="clearfix"></div><br>

    <a target='_blank' href="" class='btn btn-primary btn-block' ng-click="saveData()">Save Notes</a>
    <a href="" class='btn btn-default btn-xs pull-right col-sm-6' ng-click='export_db()'>Export Data</a>
    <a href="" class='btn btn-default btn-xs pull-right col-sm-6' onclick="document.getElementById('db_uploader').click();">Import Data</a>
    <input type='file' class='hidden' id='db_uploader' />
    <div class='clearfix'></div><br>
    <a target='_blank' href="https://github.com/Ahmed-Badawy/Learning-Markdown" class='btn btn-default btn-block'>Learn How to Write MarkDown ?</a>

        

    </div>
    <div id="preview" class='col-sm-8'></div>
    <div id='hidden' class='hidden'></div>


<div class="clearfix"></div>
<br>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
               var myApp=angular.module('myApp',['ngRoute','ngStorage']);
        myApp.factory('ngStorageControlService',function($http,$log,$q,$localStorage){ //$log is a service used to logout things.
            return obj = {
                save: function(db_content){
                    var deferred = $q.defer();
                    $log.warn(db_content); 
                    $localStorage.B_notes_taker = db_content;
                    deferred.resolve();
                    return deferred.promise;    
                },
                load: function(){
                    var deferred = $q.defer(); 
                    data = $localStorage.B_notes_taker;
                    return_data = (data) ? data : null;
                    deferred.resolve(return_data);
                    return deferred.promise;
                },
            }
        });       

        myApp.controller('MainController',function($scope,$timeout,$interval,$localStorage,ngStorageControlService){
            var preview = document.getElementById("preview");
            var hidden = document.getElementById("hidden");
            $scope.txt1 = hidden.innerHTML;
// $localStorage.$reset();
            $scope.markdownConverter = function(){
                if($scope.txt1) preview.innerHTML = markdown.toHTML($scope.txt1);    
            }


$scope.loadData = function(){
    ngStorageControlService.load().then(function(data){
        $scope.txt1 = data;
        $scope.markdownConverter();
        toastr.success('Database Has Been Synced');
    },function(){
        toastr.error('Failed To Sync The Data');
    });
}

$scope.saveData = function(){
    ngStorageControlService.save($scope.txt1);
    toastr.success("Your Data Was Saved");
}
$interval(function(){
    toastr.info('Automatic Save every 10 seconds');
    $scope.saveData();
},10000);


$scope.loadData();
$timeout(function(){
    $scope.markdownConverter();            
},500);

$scope.export_db = function(){
    var jsonString= JSON.stringify($scope.txt1,null,' ');
    var blob = new Blob([jsonString], {type: "text/plain;charset=utf-8"});
    // saveAs(blob, "Extracted-Links.txt");
    saveAs(blob, "B-NoteTaker.json");
    toastr.warning('Success ! database Saved');
}    

$scope.import_db = function(evt){
    reader = read_text_file(evt);
    reader.onload = function(evt){ //what happens on loading the textfile.
        var json_string = evt.target.result;
        var db_data = JSON.parse( json_string );
        ngStorageControlService.save(db_data);
        location.reload();
    }
}            

        });




    document.getElementById("db_uploader").addEventListener('change',function(evt){
        angular.element(this).scope().import_db(evt);
    },false);

    function read_text_file(evt){
        var file = evt.target.files[0];

        // if(file.type != "text/plain"){ //stop if it'sn't a text file
        //     var res = "this isn't a text import file...";
        //     alert(res);
        //     // document.getElementById('textarea').innerHTML = res;
        //     return;
        // }
        var reader = new FileReader(); //call the FileReader class.
        reader.readAsText(file); //then call the readAsText functnion
        return reader;
    }    

    </script>

<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>