<!doctype html>
<html ng-app='myApp'>
<head>

<title>CSS Preprocessor Compiler</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script><script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>

<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>
    <script  type="text/javascript" src="../../../js-apps/txtarea.js"></script>

</head>
<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>
<legend><h2><span class='fa fa-recycle'></span> CSS Preprocessor Compiler: <small>Don't Write CSS any more. Just compile to it.</small></h2></legend>


<div class='row'>
  <ul class="nav nav-tabs">
    <li ng-class='{active:type=="scss"}'><a href='#' ng-click='show_what=1;type="scss"'>SCSS Compiler</a></li>
    <li ng-class='{active:type=="sass"}'><a href='#' ng-click='show_what=2;type="sass"'>Sass Compiler</a></li>
    <li ng-class='{active:type=="less"}'><a href='#' ng-click='show_what=3;type="less"'>LESS Compiler</a></li>
    <li ng-class='{active:type=="stylus"}'><a href='#' ng-click='show_what=4;type="stylus"'>Stylus Compiler</a></li>
  </ul>
</div>
    <div class="clearfix"></div><br>




<div class="row">



<div id='textarea1' class='col-sm-6'>

<label>Compile What ?</label>
<SELECT class='form-control' ng-model='type'>
    <option value='scss'>SCSS (personal preference)</option>
    <option value='sass'>Sass</option>
    <option value='less'>LESS</option>
    <option value='stylus'>Stylus</option> 
</SELECT>
<br>

    <p>Before (input)</p>
    <textarea class='form-control mytextarea' rows='15' ng-model='before'></textarea>
    <input type='file' class='hidden upload_input' />
    <span class='fa fa-file-code-o btn file_btn' title='Import a File'></span>
    <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
    <span class='fa fa-cut btn cut_btn' title='Cut Text'></span>
    <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
    <span class='fa fa-trash btn emptyAll' title='Empty All Text'></span>

    <a href='' download="style.{{type}}" style="display:none" class='hidden download_content_link'></a>
    <span class='fa fa-save btn download_content' title='Download Content'></span>


    <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
    <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
    <span class='pull-right'>&nbsp;&nbsp;</span>
    <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
    <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
</div>

<div id='textarea2' class='col-sm-6'>

<label>Minify After Compile ?</label>
<SELECT class='form-control' ng-model='minify'>
    <option value='yes'>Yes</option>
    <option value='no'>No</option>
</SELECT>
<br>
    <p>After (output)</p>
    <textarea class='form-control mytextarea' rows='15' readonly>{{after}}</textarea>
    <input type='file' class='hidden upload_input' />
    <span class='fa fa-file-code-o btn file_btn hidden' title='Import a File'></span>
    <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
    <span class='fa fa-cut btn cut_btn hidden' title='Cut Text'></span>
    <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
    <span class='fa fa-trash btn emptyAll hidden' title='Empty All Text'></span>

    <a href='' download="style.css" style="display:none" class='hidden download_content_link'></a>
    <span class='fa fa-save btn download_content' title='Download Content'></span>


    <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
    <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
    <span class='pull-right'>&nbsp;&nbsp;</span>
    <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
    <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>

</div>

<div class="clearfix"></div>
<br>
<button class='btn btn-primary btn-lg btn-block' ng-click='compile()'>{{button_text}}</button>

<div class="clearfix"></div><br>
</div>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <script type="text/javascript">

var myApp=angular.module('myApp',['ngRoute']);

myApp.controller('MainController',function($scope,$http){
    $scope.show_what = getParameterByName('show_what');;
    if($scope.show_what==1) $scope.type = 'scss';
    else if($scope.show_what==2) $scope.type = 'sass';
    else if($scope.show_what==3) $scope.type = 'less';
    else if($scope.show_what==4) $scope.type = 'stylus';
    else $scope.type='scss'

    $scope.button_text = "Compile";

    $scope.minify = 'no';
    $scope.compiler_api_link = server_link+"site/api/send-post";
    $scope.before = '';
    $scope.after = '';

    $scope.compile = function(){
        $scope.button_text = "Loading";
        toastr.info("Run Compiler");
        $http.post($scope.compiler_api_link,{type:$scope.type,source:$scope.before,url:"http://alloy.divshot.com/compile"}).then(function(data){
            toastr.info("Compiler Finished");
            console.log(data);
            $scope.after = data.data;
            $scope.button_text = "Compile";
        }, function(){
            $scope.button_text = "Compile";
            console.log("error has happend");
        });
    }


});



window.onload = function(){
    apply_text_area('textarea1','text/plain');
    apply_text_area('textarea2','text/css');
};






    </script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>