<!doctype html>
<html ng-app='myApp'>
<head>

<title>Captcha Generator</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script><script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>

<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

    <script type="text/javascript" src='js/captcha-generator.js'></script>
    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>

</head>
<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>
<legend><h2><span class='fa fa-image'></span> Captcha Generator: <small>Generate any captcha in a second</small></h2></legend>


<div class="row">





<div class="col-sm-6">    
    <label>Captcha Text</label>
  <input type="text" class="form-control widthfix" ng-model='text'>
</div>

<div class="col-sm-6">
    <label>Choose a Font - إختر خط</label>
  <select class='form-control widthfix' ng-model='font'> 
    <option value='FONT_NAME' selected>FONT_NAME</option>
    <option ng-repeat='font in all_fonts' value='{{font}}'>{{font}}</option>
  </select>
</div>

<div class="clearfix"></div>
<br>

<div class="col-sm-6">    
    <label>Width of Image - عرض الصورة</label>
  <input type="number" class="form-control widthfix" ng-model='width'>
</div>
<div class="col-sm-6">    
    <label>Height of Image - طول الصورة</label>
  <input type="number" class="form-control widthfix" ng-model='height'>
</div>




<div class="clearfix"></div>
<br>


<div class="well">
    <b>Linking: </b>

    <div class="clearfix"></div>   
    <br>

    <div class="col-sm-12">
        <img src='{{base_url}}api/captcha-gene/{{text}}?width={{width}}&height={{height}}&font={{font}}'/>
    </div>
    <div class='col-sm-12'>
        <code>API Link: </code> {{base_url}}api/captcha-gene/{{text}}?width={{width}}&height={{height}}&font={{font}}
    </div>

<div class="clearfix"></div>   
</div>





<div class="clearfix"></div>
<br>
</div>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>