<!doctype html>
<html ng-app='myApp'>
<head>

<title>Regex Tester</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>


<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>

<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

<script  type="text/javascript" src="../../../js-apps/layout.js"></script>

<style type="text/css">
        #output{
            font-size: 200%;
            border:1px solid #999;
            padding:10px;
            height: 400px;
            background-color: #222;
            color:white;
            overflow: scroll;
        }
        #output span{
            padding:1px;
            border:1px solid #999;
            color:white;
            background-color: #666;
            /*margin:1px;*/
        }
</style>

</head>
<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>
<legend><h2><span class='fa fa-newspaper-o'></span> Regex Tester: <small>Can test regex expressions</small></h2></legend>







<p class='well well-sm'>
- <span style='color:red'>Our Regex Tester is still under development. Currently i advice you to use this: <a href='http://www.regexpal.com' target='_blank'>RegexPal.com</a> </span>
<br>
- if you aren't satisfied with our (Regex Tester) Application Please use the <a href='http://www.regexpal.com' target='_blank'>RegexPal.com</a> 
</p> 


<div class="row">

<div class="row">

    <div class='col-sm-12'>
            <label><input type='checkbox' ng-model='regex.g'>&nbsp;Global</label> &nbsp; &nbsp; 
            <label><input type='checkbox' ng-model='regex.m'>&nbsp;Multiline</label> &nbsp; &nbsp; 
            <label><input type='checkbox' ng-model='regex.i'>&nbsp;Ignore Case</label>
    </div>

<div class="clearfix"></div>
<hr>

    <div class='col-sm-8'>
        <label>Regex Expression</label>
        <input class='form-control' style='width:100%' ng-model='regex.regex'>
    </div>
    <div class='col-sm-4'>
        <label>Common Cases</label>
        <select class='form-control' style='width:100%' ng-model='common_regex'>
            <option value='emails'>Emails</option>
            <option value='username'>User Name</option>
            <option value='password'>Password</option>
            <option value='ip4'>IP4</option>
            <option value='ip6'>IP6</option>
            <!-- <option value='addresses'>Addresses</option> -->
            <!-- <option value='creditCards'>Credit Cards</option> -->
            <!-- <option value='hexColors'>Hex Colors</option> -->
            <!-- <option value='links'>Links</option> -->
            <!-- <option value='money'>Money</option> -->
            <!-- <option value='percentages'>Percentages</option> -->
            <option value='phones'>Phones</option>
            <!-- <option value='acronyms'>Acronyms</option> -->
            <!-- <option value='times'>Times</option> -->
            <!-- <option value='datesRegex'>Dates</option> -->
            <!-- <option value='dayRegex'>Day</option> -->
            <!-- <option value='monthRegex'>Month</option> -->
            <!-- <option value='yearRegex'>Year</option> -->
        </select>
    </div>
</div>
<p class='well well-sm'>{{compiled_regex}}</p>

<pre class='col-sm-12' id='output' contentEditable='true'></pre>
<button class='btn btn-primary btn-lg btn-block' ng-click='do_regex()'>Evaluate Regex</button>


<div class="clearfix"></div><br>

</div>




<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<script type="text/javascript">

var Regexs = {

//     monthRegex :{
//         rmatch: '(?:jan\\.?|january|feb\\.?|february|mar\\.?|march|apr\\.?|april|may|jun\\.?|june|jul\\.?|july|aug\\.?|august|sep\\.?|september|oct\\.?|october|nov\\.?|november|dec\\.?|december)',
//         flags:{i:true,g:true,m:true},
//         cases:`one
// two
// three`
    // },

    // dayRegex : '[0-3]?\\d(?:st|nd|rd|th)?',
    // yearRegex : '\\d{4}',
    // times: {
    //     rmatch:"\b((0?[0-9]|1[0-2])(:[0-5][0-9])?(am|pm)|([01]?[0-9]|2[0-3]):[0-5][0-9])",
    //     flags:{g:true,i:true,m:true},
    //     cases:`ok`
    // },

    // links: /((?:https?:\/\/|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}\/)(?:[^\s()<>]+|\((?:[^\s()<>]+|(?:\([^\s()<>]+\)))*\))+(?:\((?:[^\s()<>]+|(?:\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:\'".,<>?\xab\xbb\u201c\u201d\u2018\u2019]))/gim,

    phones: {
        rmatch:"(\\d?[^\\s\\w]*(?:\\(?\\d{3}\\)?\\W*)?\\d{3}\\W*\\d{4})",
        flags:{g:true,i:true,m:true},
        cases:`01111988246
0403401664`
    },

    emails: {
        rmatch:"([a-z0-9!#$%&'*+\/=?\^_`{|}~\-]+@([a-z0-9]+\.)+([a-z0-9]+))",
        flags:{g:true,i:true,m:true},
        cases:`me@ahmed-badawy.com
ahmed.badawy.elsaid@gmail.com`
    },

    username: {
        rmatch:"\\b[a-z0-9_-]{3,16}\\b",
        flags:{g:true,m:true,i:true},
        cases:`ahmed-badawy
Mohamed_adel-tooLong Only 16 chars allowed`
    },

    password: {
        rmatch:"\\b[a-z0-9_-]{6,18}\\b",
        flags:{g:true,m:true,i:true},
        cases:`password12
gofuckgomother1234`
    },

    ip4: {
        rmatch:"((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)",
        flags:{g:true,m:true},
        cases:`10.0.0.1
155.1.22.40`
    },

    ip6: {
        rmatch:"((([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){6}:[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){5}:([0-9A-Fa-f]{1,4}:)?[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){4}:([0-9A-Fa-f]{1,4}:){0,2}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){3}:([0-9A-Fa-f]{1,4}:){0,3}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){2}:([0-9A-Fa-f]{1,4}:){0,4}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){6}((\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b)\.){3}(\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b))|(([0-9A-Fa-f]{1,4}:){0,5}:((\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b)\.){3}(\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b))|(::([0-9A-Fa-f]{1,4}:){0,5}((\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b)\.){3}(\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b))|([0-9A-Fa-f]{1,4}::([0-9A-Fa-f]{1,4}:){0,5}[0-9A-Fa-f]{1,4})|(::([0-9A-Fa-f]{1,4}:){0,6}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){1,7}:))\b",
        flags:{g:true,m:true,i:true},
        cases:`2001:0000:1234:0000:0000:C1C0:ABCD:0876     
2001:0:1234::C1C0:ABCD:876      
3ffe:0b00:0000:0000:0001:0000:0000:000a     
3ffe:b00::1:0:0:a       
FF02:0000:0000:0000:0000:0000:0000:0001     
FF02::1     
0000:0000:0000:0000:0000:0000:0000:0001     
0000:0000:0000:0000:0000:0000:0000:0000     
::      
::ffff:192.168.1.26     
::ffff:192.168.1.26     
02001:0000:1234:0000:0000:C1C0:ABCD:0876        
2001:0000:1234:0000:00001:C1C0:ABCD:0876        
2001:0000:1234:0000:0000:C1C0:ABCD:0876     
2001:0:1234::C1C0:ABCD:876      
2001:0000:1234:0000:0000:C1C0:ABCD:0876     
2001:0:1234::C1C0:ABCD:876      
2001:0000:1234:0000:0000:C1C0:ABCD:0876 0       
2001:0000:1234: 0000:0000:C1C0:ABCD:0876        
2001:1:1:1:1:1:255Z255X255Y255      
3ffe:0b00:0000:0001:0000:0000:000a      
FF02:0000:0000:0000:0000:0000:0000:0000:0001        
3ffe:b00::1::a      
::1111:2222:3333:4444:5555:6666::       
2::10       
ff02::1     
fe80::      
2002::      
2001:db8::      
2001:0db8:1234::        
::ffff:0:0      
::ffff:192.168.1.1      
1:2:3:4:5:6:7:8     
1:2:3:4:5:6::8      
1:2:3:4:5::8        
1:2:3:4::8      
1:2:3::8        
1:2::8      
1::8        
1::2:3:4:5:6:7      
1::2:3:4:5:6        
1::2:3:4:5      
1::2:3:4        
1::2:3      
1::8        
::2:3:4:5:6:7:8     
::2:3:4:5:6:7       
::2:3:4:5:6     
::2:3:4:5       
::2:3:4     
::2:3       
::8     
1:2:3:4:5:6::       
1:2:3:4:5::     
1:2:3:4::       
1:2:3::     
1:2::       
1::     
1:2:3:4:5::7:8      
1:2:3::4:5::7:8     
12345::6:7:8        
1:2:3:4::7:8        
1:2:3::7:8      
1:2::7:8        
1::7:8      
1:2:3:4:5:6:1.2.3.4     
1:2:3:4:5::1.2.3.4      
1:2:3:4::1.2.3.4        
1:2:3::1.2.3.4      
1:2::1.2.3.4        
1::1.2.3.4      
1:2:3:4::5:1.2.3.4      
1:2:3::5:1.2.3.4        
1:2::5:1.2.3.4      
1::5:1.2.3.4        
1::5:11.22.33.44        
1::5:400.2.3.4      
1::5:260.2.3.4      
1::5:256.2.3.4      
1::5:1.256.3.4      
1::5:1.2.256.4      
1::5:1.2.3.256      
1::5:300.2.3.4      
1::5:1.300.3.4      
1::5:1.2.300.4      
1::5:1.2.3.300      
1::5:900.2.3.4      
1::5:1.900.3.4      
1::5:1.2.900.4      
1::5:1.2.3.900      
1::5:300.300.300.300        
1::5:3000.30.30.30      
1::400.2.3.4        
1::260.2.3.4        
1::256.2.3.4        
1::1.256.3.4        
1::1.2.256.4        
1::1.2.3.256        
1::300.2.3.4        
1::1.300.3.4        
1::1.2.300.4        
1::1.2.3.300        
1::900.2.3.4        
1::1.900.3.4        
1::1.2.900.4        
1::1.2.3.900        
1::300.300.300.300      
1::3000.30.30.30        
::400.2.3.4     
::260.2.3.4     
::256.2.3.4     
::1.256.3.4     
::1.2.256.4     
::1.2.3.256     
::300.2.3.4     
::1.300.3.4     
::1.2.300.4     
::1.2.3.300     
::900.2.3.4     
::1.900.3.4     
::1.2.900.4     
::1.2.3.900     
::300.300.300.300       
::3000.30.30.30     
fe80::217:f2ff:254.7.237.98     
fe80::217:f2ff:fe07:ed62        
2001:DB8:0:0:8:800:200C:417A        
FF01:0:0:0:0:0:0:101        
FF01::101       
0:0:0:0:0:0:0:1     
0:0:0:0:0:0:0:0     
mydomain.com        
test.mydomain.com       
123.23.34.2     
2001:2:3:4:5:6:7:134        
fe80::4413:c8ae:2821:5852%10        
172.26.168.134`
    },


    // IPv4: /\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/gm,
    // IPv6: /((([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){6}:[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){5}:([0-9A-Fa-f]{1,4}:)?[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){4}:([0-9A-Fa-f]{1,4}:){0,2}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){3}:([0-9A-Fa-f]{1,4}:){0,3}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){2}:([0-9A-Fa-f]{1,4}:){0,4}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){6}((\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b)\.){3}(\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b))|(([0-9A-Fa-f]{1,4}:){0,5}:((\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b)\.){3}(\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b))|(::([0-9A-Fa-f]{1,4}:){0,5}((\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b)\.){3}(\b((25[0-5])|(1\d{2})|(2[0-4]\d)|(\d{1,2}))\b))|([0-9A-Fa-f]{1,4}::([0-9A-Fa-f]{1,4}:){0,5}[0-9A-Fa-f]{1,4})|(::([0-9A-Fa-f]{1,4}:){0,6}[0-9A-Fa-f]{1,4})|(([0-9A-Fa-f]{1,4}:){1,7}:))\b/gim,
    // hexColors: /#(?:[0-9a-fA-F]{3}){1,2}\b/gim,
    // acronyms: /\b(([A-Z]\.)+|([A-Z]){2,})/gm,
    // money: /((^|\b)US?)?\$\s?[0-9]{1,3}((,[0-9]{3})+|([0-9]{3})+)?(\.[0-9]{1,2})?\b/gm,
    // percentages: /(100(\.0+)?|[0-9]{1,2}(\.[0-9]+)?)%/gm,
    // creditCards: /((?:(?:\d{4}[- ]){3}\d{4}|\d{16}))(?![\d])/gm,
    // addresses: /\d{1,4} [\w\s]{1,20}(?:(street|avenue|road|highway|square|trail|drive|court|parkway|boulevard|circle)\b|(st|ave|rd|hwy|sq|trl|dr|ct|pkwy|blvd|cir)\.(?=\b)?)/gim
}
    var opt = function opt(regex) {
        return '(?:' + regex + ')?';
    },
    group = function group(regex) {
        return '(?:' + regex + ')';
    },
    any = function any(regexes) {
        return regexes.join('|');
    }

Regexs.datesRegex = group(any([Regexs.dayRegex + '\\s+(?:of\\s+)?' + Regexs.monthRegex, Regexs.monthRegex + '\\s+' + Regexs.dayRegex])) + '(?:\\,)?\\s*' + opt(Regexs.yearRegex) + '|[0-3]?\\d[-/][0-3]?\\d[-/]\\d{2,4}';

// console.log(Regexs);
</script>


    <script type="text/javascript">       
var myApp=angular.module('myApp',['ngRoute']);

myApp.controller('MainController',function($scope,$timeout){
    $scope.regex = {
        regex:'c.t',
        g:true,
        m:true,
        i:true,
    };
    var output = document.getElementById("output");
    output.innerHTML = "This is a cat"
    var promise = false;

    $scope.output = (str,regex,target) => {
        toastr.success("Regex Evaluated !");

        // str = str.replace(/[\n\r]/gm,"<br>");
        target.innerHTML = str.replace(regex,str => `<span>${str}</span>` )+"   ";
        // target.innerHTML = str.replace(regex, str => `${str}` );
    }

    $scope.do_regex = function(){
        str = output.innerHTML.replace(/(<span>|<\/span>)/gim,"");
        // str = output.innerHTML;
        // console.log(str);
        flags='';
        flags+= ($scope.regex.i) ? "i":'';
        flags+= ($scope.regex.g) ? "g":'';
        flags+= ($scope.regex.m) ? "m":'';
        regex = new RegExp($scope.regex.regex,flags);
        if(str.trim() && $scope.regex.regex.trim()){
            $scope.output( str, regex , output ); 
            $scope.compiled_regex = "/"+$scope.regex.regex.trim()+"/"+flags;
        }
    }
    $scope.do_regex();


    $scope.eval_regex = function(time) {
        if(promise) $timeout.cancel(promise);
        promise = $timeout(function(){
            $scope.do_regex();
        },time);
    }
    $scope.$watchGroup(["regex.regex","regex.i","regex.g","regex.m"],function(){
        $scope.eval_regex(300);
    });
    output.addEventListener('input',function(){
        $scope.eval_regex(1000);
    },false);


    $scope.$watch('common_regex', (new_value)=>{
        if(!new_value) return;
        $scope.regex.regex = Regexs[new_value].rmatch;
        $scope.regex.i = Regexs[new_value].flags.i;
        $scope.regex.g = Regexs[new_value].flags.g;
        $scope.regex.m = Regexs[new_value].flags.m;
        output.innerHTML = Regexs[new_value].cases;
        $scope.eval_regex(300);
    });


});


    </script>

    

<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>