<hr>

<div class='alert alert-info' style='border:5px double #337ab7'>

<div class="col-sm-2 text-center">
    <img src="../../../images/me.jpg" style='width:100%;padding:2px;border:2px solid #444' class='img-rounded'>
    <p style='font-size:130%'>Hire Me</p>
</div>

<div class="col-sm-10">

        <h5>Hi! My name is Ahmed Badawy & i am the developer of D-Faster . I am a talented 25 years old Egyptian (Full Stack Web Developer) with a basic Java & Android Development Background. Currently Searching for a full-time job in US, Europe & Canada. if you have any vacancy or you can help me in any way, please contact me. 
        <a href="http://ahmed-badawy.com/site/cv" class='btn btn-default btn-xs' target="_blank">My C.V</a>
        <br><br>

<table class='table-hover'>
    <tr>
        <td><span class='fa fa-at'></span>  Email </td>
        <td> &nbsp; : &nbsp; <a href="mailto:me@ahmed-badawy.com">me@ahmed-badawy.com</a></td>
    </tr>
    <tr>
        <td><span class='fa fa-phone'></span>  Phone </td>
        <td> &nbsp; : &nbsp; 020 01111988246</td>
    </tr>
    <tr>
        <td><span class='fa fa-edge'></span>  Website </td>
        <td> &nbsp; : &nbsp; <a href="http://ahmed-badawy.com/site" target='_blank'>Ahmed-Badawy.com</a></td>
    </tr>
    <tr>
        <td><span class='fa fa-user'></span>  Who Am I </td>
        <td> &nbsp; : &nbsp; <a href="http://Ahmed-Badawy.com/site/cv" target='_blank'>My C.V</a></td>
    </tr>    
</table>



<hr>

    <h5>- D-Faster is Still In Beta So we still have some problems. if you find any error or unexpected results please contact me at: me@ahmed-badawy.com & i will get to them as soon as possible<br>
    - If you have any suggestion or you need any more tools/helpers please contact me at me@ahmed-badawy.com</h5>


    </h5>

</div>

<div class="clearfix"></div>
</div>




<hr>
<a href='http://cv.ahmed-badawy.com' class='pull-right' style='color:#999;margin:0;padding:0;display:inline;' target="_blank">Ahmed Badawy</a>



