        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> Develop Faster</li>


    <li><a href="#" onclick='goProject("-security/escape-html","side_htmlescape",1)' id='side_htmlescape'><span class='fa fa-barcode'></span> Escape HTML</a></li> 
    <li><a href="#" onclick='goProject("-security/escape-html","side_htmlunescape",2)' id='side_htmlunescape'><span class='fa fa-barcode'></span> UnEscape HTML</a></li> 
 
    <li><a href="#" onclick='goProject("-general/fontawesome-helper","side_fontawesome")' id='side_fontawesome'><span class='fa fa-ra'></span> FontAwesome Helper</a></li> 

    <li><a href="#" onclick='goProject("-security/hash","side_md5_hash")' id='side_md5_hash'><span class='fa fa-hashtag'></span> MD5 Hash</a></li>   
    <li><a href="#" onclick='goProject("-security/hash","side_hmac_hash")' id='side_hmac_hash'><span class='fa fa-hashtag'></span> HMAC-MD5 Hash</a></li>   

    <li><a href="#" onclick='goProject("-minifiers/javascript-minification","side_minifyjs")' id='side_minifyjs'><span class='fa fa-file-text-o'></span> Minify JavaScript</a></li>   
        
    

  

    <li><a href="#" onclick='goProject("-security/password-generator","side_passGenerator")' id='side_passGenerator'><span class='fa fa-barcode'></span> Password Generator</a></li> 

    <li><a href="#" onclick='goProject("-general/markdown-parser","side_markdown")' id='side_markdown'><span class='fa fa-reorder'></span> Markdown Parser</a></li>  

    <li><a href="#" onclick='goProject("-general/color-picker","side_colorpicker")' id='side_colorpicker'><span class='fa fa-eyedropper'></span> Color Picker</a></li>  

    <li><a href="#" onclick='goProject("-css/css-compilers","side_cssCompilers")' id='side_cssCompilers'><span class='fa fa-recycle'></span> CSS Compilers</a></li>   


    <li><a href="#" onclick='goProject("-apis/QR-generator","side_qrgenerator")' id='side_qrgenerator'><span class='fa fa-qrcode'></span> QR Generator</a></li> 

    <li><a href="#" onclick='goProject("-apis/UPC-code-generator","side_barcodeGenerator")' id='side_barcodeGenerator'><span class='fa fa-barcode'></span> UPC Barcode Generator</a></li> 

    <li><a href="#" onclick='goProject("-apis/captcha-generator","side_captchaGenerator")' id='side_captchaGenerator'><span class='fa fa-image'></span> Captcha Generator</a></li> 

    <li><a href="#" onclick='goProject("-dataformats/json-prettify","side_jsonPrettify")' id='side_jsonPrettify'><span class='fa fa-list-ul'></span> Json Prettify</a></li> 


    <li><a href="#" onclick='goProject("-img/img-base64-converter","side_imgbase64")' id='side_imgbase64'><span class='fa fa-list-ul'></span> Img-Base64 Converter</a></li> 

    <li><a href="#" onclick='goProject("-general/units-converter","side_unitsconverter")' id='side_unitsconverter'><span class='fa fa-list-ul'></span> Units Converter</a></li> 

    <li><a href="#" onclick='goProject("-general/number-system-converter","side_number_system_converter")' id='side_number_system_converter'><span class='fa fa-list-ul'></span> Number Systems</a></li> 



  


            </ul>
        </div>
        <!-- /#sidebar-wrapper -->



