


<span ng-init="
side_links = {
        general: {name:'General Helpers' , in_array:[
{name:'Data Formats Converter',location:'-dataformats/data-formats-converter',icon:'list-ul'},
{name:'Markdown Parser',location:'-general/markdown-parser',icon:'reorder'}, 
{name:'B-PasswordKeeper',location:'-general/password-keeper',icon:'list-ul'}, 
{name:'B-Notes',location:'-general/b-notes',icon:'list-ul'}, 
        ]},

        design: {name:'Design Helpers',in_array:[
{name:'FontAwesome Helper',location:'-design/fontawesome-helper',icon:'flag'},
{name:'Color Picker',location:'-design/color-picker',icon:'eyedropper'}, 
{name:'Color Palettes',location:'-design/color-palettes',icon:'paint-brush'}, 
{name:'Color Palettes 2',location:'-design/color-palettes2',icon:'paint-brush'}, 
{name:'Color Converter',location:'-design/color-converter',icon:'cubes'}, 
        ]},


        time: {name:'Timers',in_array:[
{name:'Stop Watch',location:'-general/timers',icon:'list-ul',show_what:1},
{name:'CountDown Timer',location:'-general/timers',icon:'list-ul',show_what:2},
        ]},

        img: {name:'Images & Graphics',in_array:[
{name:'Img To Base64 Converter',location:'-img/img-base64-converter',icon:'list-ul',show_what:1},
{name:'Base64 To Img Converter',location:'-img/img-base64-converter',icon:'list-ul',show_what:2},
        ]}, 

        converters: {name:'Converters',in_array:[
{name:'Units Converter',location:'-general/units-converter',icon:'list-ul'}, 
{name:'Number Systems',location:'-general/number-system-converter',icon:'list-ul'}, 
        ]}, 

        encoders: {name:'Encoders',in_array:[
{name:'URI Encoder',location:'-security/uri',icon:'list-ul',show_what:1},
{name:'URI Encoder',location:'-security/uri',icon:'list-ul',show_what:2},
{name:'Escape Html',location:'-security/escape-html',icon:'list-ul',show_what:1}, 
{name:'UnEscape Html',location:'-security/escape-html',icon:'list-ul',show_what:2}, 
        ]},    

        css: {name:'CSS Converters',in_array:[
{name:'SCSS Compiler',location:'-css/css-compilers',icon:'recycle',show_what:1},
{name:'Sass Compiler',location:'-css/css-compilers',icon:'recycle',show_what:2},
{name:'LESS Compiler',location:'-css/css-compilers',icon:'recycle',show_what:3},
{name:'Stylus Compiler',location:'-css/css-compilers',icon:'recycle',show_what:4},
        ]},  

        apis: {name:'API Helpers',in_array:[
{name:'QR Generator',location:'-apis/QR-generator',icon:'qrcode'},
{name:'UPC Barcode Generator',location:'-apis/UPC-code-generator',icon:'barcode'},
{name:'Captcha Generator',location:'-apis/captcha-generator',icon:'image'},
        ]},  

        hashs: {name:'Hashing & Passwords',in_array:[
    {name:'MD5 Hash',location:'-security/hash',icon:'hashtag',show_what:1}, 
    {name:'HMAC-MD5 Hash',location:'-security/hash',icon:'hashtag',show_what:2}, 
    {name:'SHA-512 Hash',location:'-security/hash',icon:'hashtag',show_what:3}, 
    {name:'SHA-384 Hash',location:'-security/hash',icon:'hashtag',show_what:4}, 
    {name:'SHA-256 Hash',location:'-security/hash',icon:'hashtag',show_what:5}, 
    {name:'SHA-224 Hash',location:'-security/hash',icon:'hashtag',show_what:6}, 
    {name:'Random Password',location:'-security/hash',icon:'hashtag',show_what:7},
        ]},  



        pretty_print: {name:'Pretty Print Helpers',in_array:[
{name:'Pretty Print JSON',location:'-dataformats/prettify',icon:'list-ul',show_what:1},
{name:'Pretty Print CSS',location:'-dataformats/prettify',icon:'list-ul',show_what:2},
{name:'Pretty Print XML',location:'-dataformats/prettify',icon:'list-ul',show_what:3},
{name:'Pretty Print SQL',location:'-dataformats/prettify',icon:'list-ul',show_what:4},
{name:'Pretty Print HTML',location:'-dataformats/prettify',icon:'list-ul',show_what:5},
        ]},

        minifiers: {name:'MiniFiers',in_array:[
{name:'Minify JavaScript',location:'-minifiers/minify-js',icon:'hand-lizard-o',show_what:1},
{name:'Minify CSS',location:'-minifiers/minify-css',icon:'hand-lizard-o',show_what:2},
{name:'Minify XML',location:'-minifiers/minify-xml',icon:'hand-lizard-o',show_what:3},
{name:'Minify JSON',location:'-minifiers/minify-json',icon:'hand-lizard-o',show_what:4},
{name:'Minify SQL',location:'-minifiers/minify-sql',icon:'hand-lizard-o',show_what:4},


{name:'Minify PHP',location:'-minifiers/minify-json',icon:'hand-lizard-o',show_what:4},
{name:'Minify JAVA',location:'-minifiers/minify-json',icon:'hand-lizard-o',show_what:4},
{name:'Minify SQL',location:'-minifiers/minify-json',icon:'hand-lizard-o',show_what:4},
        ]},



};

base_url = 'http://localhost/_websites/ahmed-badawy.com/projects/Develop-Faster/'
">
</span>


        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> Develop Faster</li>

<li style='margin-bottom:10px'><input ng-model='search_q' class='form-control' placeholder='Search Text'></li>

<span ng-repeat="value in side_links">
    <li class='sidebar_header'>{{value.name}}</li>
    <li ng-repeat='link in value.in_array | filter:search_q'>
        <a href='{{base_url}}projects/{{link.location}}.html?show_what={{link.show_what}}'><span class='fa fa-{{link.icon}}'></span> {{link.name}}</a>
    </li>
    <hr>
</span>


<div class="clearfix"></div><br><br><br>
<div class="clearfix"></div><br><br><br>
<div class="clearfix"></div><br><br><br>
<div class="clearfix"></div><br><br><br>
<div class="clearfix"></div><br><br><br>
<div class="clearfix"></div><br><br><br>

            </ul>



        </div>
        <!-- /#sidebar-wrapper -->






