<script type="text/javascript">
    //{name:'JavaScript Logger',location:'-general/js-logger/js-logger',icon:'list-ul'}, 
    // {name:'B-Link Lists',location:'-general/b-link-lists/b-link-lists',icon:'list-ul'}, 

    //server_link = 'http://ahmed-badawy.com/';
    //server_link = 'http://localhost/_websites/ahmed-badawy.com/';
    //base_url = server_link+'projects/D-Faster/';
</script>

<span ng-init="
    server_link = 'http://localhost/_websites/ahmed-badawy.com/';
    base_url = server_link+'projects/D-Faster/';
"

 class='hidden'></span>

        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-controller='sidebar_controller'>
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a ng-href="{{base_url}}">D-Faster </a></li>

<li style='margin-bottom:10px'><input ng-model='search_q' class='form-control' placeholder='Search Text'></li>



<li style='margin-bottom:20px'>
    <button class='btn btn-default col-sm-6 side_nav_filter_button btn-primary' ng-click='view_links("all_links")'>All</button>
    <button class='btn btn-default col-sm-6 side_nav_filter_button' ng-click='view_links("utils_links")'>Utilities</button>
    <button class='btn btn-default col-sm-6 side_nav_filter_button' ng-click='view_links("designer_links")'>Design</button>
    <button class='btn btn-default col-sm-6 side_nav_filter_button' ng-click='view_links("developer_links")'>Develop</button>
</li>


<div class="clearfix"></div><br>



<span ng-repeat="value in side_links">
    <li class='sidebar_header'>{{value.name}}</li>

    <li ng-repeat='link in value.in_array | filter:search_q'>
        <a ng-if='link.type==undefined' ng-href='{{base_url}}projects/{{link.location}}.html?show_what={{link.show_what}}'><span class='fa fa-{{link.icon}}'></span> {{link.name}}</a>

        <span ng-if='link.type!=undefined' class="dropdown">
          <a id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class=''>
            <span class='fa fa-{{link.icon}}'></span> {{link.name}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li ng-repeat='n in link.links_array'><a ng-href="{{base_url}}projects/{{n.location}}.html?show_what={{n.show_what}}"><span class='fa fa-{{n.icon}}'></span> {{n.name}}</a></li>
          </ul>
        </span>
    </li>


    <hr>
</span>


<div class="clearfix"></div><br><br><br>


            </ul>

        </div>
        <!-- /#sidebar-wrapper -->







<a href="#menu-toggle" class="btn btn-default btn-xs fa fa-arrow-right" id="menu-toggle"></a> 



