        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-controller='sidebar_controller'>
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a ng-href="{{base_url}}">D-Faster  <small style='font-size:60%'>(Beta)</small></a></li>

<li style='margin-bottom:20px'>
    <button class='btn btn-default btn-xs col-sm-6' ng-class='{"btn-primary":cate=="all_links"}' ng-click='view_links("all_links")'>All</button>
    <button class='btn btn-default btn-xs col-sm-6' ng-class='{"btn-primary":cate=="utils_links"}' ng-click='view_links("utils_links")'>Utilities</button>
    <button class='btn btn-default btn-xs col-sm-6' ng-class='{"btn-primary":cate=="designer_links"}' ng-click='view_links("designer_links")'>Design</button>
    <button class='btn btn-default btn-xs col-sm-6' ng-class='{"btn-primary":cate=="developer_links"}' ng-click='view_links("developer_links")'>Develop</button>
</li>

<div class="clearfix"></div>

<li style='margin-top:10px'><input ng-model='search_q' class='form-control' placeholder='Search Box'></li>


<div class="clearfix"></div><br>



<span ng-repeat="value in side_links">
    <li class='sidebar_header'>{{value.name}}</li>

    <li ng-repeat='(key,link) in value.in_array | filter:search_q'>
        <a ng-if='link.type==undefined' ng-href='{{go_to(cate,key,link)}}' target='{{get_target(link)}}'><span class='fa fa-{{link.icon}}'></span> {{link.name}}</a>

        <span ng-if='link.type!=undefined' class="dropdown">
          <a id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class=''>
            <span class='fa fa-{{link.icon}}'></span> {{link.name}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li ng-repeat='(k,n) in link.links_array'><a ng-href='{{go_to(cate,key,n,k)}}'><span class='fa fa-{{n.icon}}' target='{{get_target(link)}}'></span> {{n.name}}</a></li>
          </ul>
        </span>
    </li>

    <hr>
</span>


<span>
    <li class='sidebar_header'>Additional Info</li>
    <li>
        <a href='https://chrome.google.com/webstore/detail/d-faster/gpnmdoddfenngflamdbiigbecalmkfdf' target="_blank"><span class='fa fa-chrome'></span> Chrome APP Link</a>
        <a href='https://github.com/Ahmed-Badawy/D-Faster' target="_blank"><span class='fa fa-github'></span> D-Faster On Github</a>
        <a href='{{base_url}}' target="_blank"><span class='fa fa-cogs'></span> About D-Faster</a>
        <a href='http://cv.ahmed-badawy.com' target="_blank"><span class='fa fa-code'></span> About The Developer</a>
    </li>      
</span>  



<div class="clearfix"></div><br><br><br>


            </ul>

        </div>
        <!-- /#sidebar-wrapper -->







<a href="#menu-toggle" class="btn btn-default btn-xs fa fa-arrow-right" id="menu-toggle"></a> 



