<!doctype html>
<html ng-app='myApp'>
<head>

<title>Emoji Copier</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>


<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>

</head>
<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-flag'></span> Emoji Helper: <small>Emoji icons Helper (click to copy)

</small></h2></legend>





<div class="clearfix"></div>

<label>Emoji Sizes: {{emoji_sizes}}</label>
<input type='range' min='200' max='400' step='10' class='form-control' ng-model='emoji_size' ng-init='emoji_size=200' />


<div ng-repeat='(key,cate) in emoji_icons'>
  <h3>{{cate.name}}</h3>
  <button ng-repeat='n in cate.array | filter:q track by $index' class='btn btn-default btn-xs' data-clipboard-text='{{n}}' style='font-size:{{emoji_size}}%'>{{n}}</button>
<div class="clearfix"></div><br>

</div>





<div class="clearfix"></div><br>

<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    
    <script  type="text/javascript">
      var myApp = angular.module('myApp',['ngRoute']);
      myApp.controller('MainController',function($scope){

$scope.emoji_icons = {
    smileys_people: {name:"Smileys & People",array:["😀","😬","😁","😂","😃","😄","😅","😆","😇","😉","😊","🙂","🙃","☺️","😋","😌","😍","😘","😗","😙","😚","😜","😝","😛","🤑","🤓","😎","🤗","😏","😶","😐","😑","😒","🙄","🤔","😳","😞","😟","😠","😡","😔","😕","🙁","☹️","😣","😖","😫","😩","😤","😮","😱","😨","😰","😯","😦","😧","😢","😥","😪","😓","😭","😵","😲","🤐","😷","🤒","🤕","😴","💤","💩","😈","👿","👹","👺","💀","👻","👽","🤖","😺","😸","😹","😻","😼","😽","🙀","😿","😾","🙌","👏","👋","👍","👊","✊","✌️","👌","✋","💪","🙏","☝️","👆","👇","👈","👉","🖕","🤘","🖖","✍️","💅","👄","👅","👂","👃","👁","👀","👤","🗣","👶","👦","👧","👨","👩","👱","👴","👵","👲","👳","👮","👷","💂","🕵","🎅","👼","👸","👰","🚶","🏃","💃","👯","👫","👬","👭","🙇","💁","🙅","🙆","🙋","🙎","🙍","💇","💆","💑","👩‍","❤","️‍","👩","👨‍","❤","️‍","👨","💏","👩‍","❤","️‍","💋‍","👩","👨‍","❤","️‍","💋‍","👨","👪","👨‍","👩‍","👧","👨‍","👩‍","👧‍","👦","👨‍","👩‍","👦‍","👦","👨‍","👩‍","👧‍","👧","👩‍","👩‍","👦","👩‍","👩‍","👧","👩‍","👩‍","👧‍","👦","👩‍","👩‍","👦‍","👦","👩‍","👩‍","👧‍","👧","👨‍","👨‍","👦","👨‍","👨‍","👧","👨‍","👨‍","👧‍","👦","👨‍","👨‍","👦‍","👦","👨‍","👨‍","👧‍","👧","👚","👕","👖","👔","👗","👙","👘","💄","💋","👣","👠","👡","👢","👞","👟","👒","🎩","⛑","🎓","👑","🎒","👝","👛","👜","💼","👓","🕶","💍","🌂"]},

    pale:{name:"Pale",array:["👦","👧","👨","👩","👴","👵","👶","👱","👮","👲","👳","👷","👸","💂","🎅","👼","💆","💇","👰","🙍","🙎","🙅","🙆","💁","🙋","🙇","🙌","🙏","🚶","🏃","💃","💪","👈","👉","☝️","👆","🖕","👇","✌️","🖖","🤘","🖐","✊","✋","👊","👌","👍","👎","👋","👏","👐","✍","💅","👂","👃","🚣","🛀","🏄","🏇","🏊","⛹","🏋","🚴","🚵"]},

    animals_nature:{name:"Animals & Nature",array:["🐶","🐱","🐭","🐹","🐰","🐻","🐼","🐨","🐯","🦁","🐮","🐷","🐽","🐸","🐙","🐵","🙈","🙉","🙊","🐒","🐔","🐧","🐦","🐤","🐣","🐥","🐺","🐗","🐴","🦄","🐝","🐛","🐌","🐞","🐜","🕷","🦂","🦀","🐍","🐢","🐠","🐟","🐡","🐬","🐳","🐋","🐊","🐆","🐅","🐃","🐂","🐄","🐪","🐫","🐘","🐐","🐏","🐑","🐎","🐖","🐀","🐁","🐓","🦃","🕊","🐕","🐩","🐈","🐇","🐿","🐾","🐉","🐲","🌵","🎄","🌲","🌳","🌴","🌱","🌿","☘","🍀","🎍","🎋","🍃","🍂","🍁","🌾","🌺","🌻","🌹","🌷","🌼","🌸","💐","🍄","🌰","🎃","🐚","🕸","🌎","🌍","🌏","🌕","🌖","🌗","🌘","🌑","🌒","🌓","🌔","🌚","🌝","🌛","🌜","🌞","🌙","⭐️","🌟","💫","✨","☄","☀️","🌤","⛅️","🌥","🌦","☁️","🌧","⛈","🌩","⚡️","🔥","💥","❄️","🌨","🔥","💥","❄️","🌨","☃️","⛄️","🌬","💨","🌪","🌫","☂️","☔️","💧","💦","🌊"]},

    food_drink:{name:"Food & Drink",array:["🍏","🍎","🍐","🍊","🍋","🍌","🍉","🍇","🍓","🍈","🍒","🍑","🍍","🍅","🍆","🌶","🌽","🍠","🍯","🍞","🧀","🍗","🍖","🍤","🍳","🍔","🍟","🌭","🍕","🍝","🌮","🌯","🍜","🍲","🍥","🍣","🍱","🍛","🍙","🍚","🍘","🍢","🍡","🍧","🍨","🍦","🍰","🎂","🍮","🍬","🍭","🍫","🍿","🍩","🍪","🍺","🍻","🍷","🍸","🍹","🍾","🍶","🍵","☕️","🍼","🍴","🍽"]},

    sports:{name:"Activity and Sports",array:["⚽️","🏀","🏈","⚾️","🎾","🏐","🏉","🎱","⛳️","🏌","🏓","🏸","🏒","🏑","🏏","🎿","⛷","🏂","⛸","🏹","🎣","🚣","🏊","🏄","🛀","⛹","🏋","🚴","🚵","🏇","🕴","🏆","🎽","🏅","🎖","🎗","🏵","🎫","🎟","🎭","🎨","🎪","🎤","🎧","🎼","🎹","🎷","🎺","🎸","🎻","🎬","🎮","👾","🎯","🎲","🎰","🎳"]},

    travel:{name:"Travel & Places",array:["🚗","🚕","🚙","🚌","🚎","🏎","🚓","🚑","🚒","🚐","🚚","🚛","🚜","🏍","🚲","🚨","🚔","🚍","🚘","🚖","🚡","🚠","🚟","🚃","🚋","🚝","🚄","🚅","🚈","🚞","🚂","🚆","🚇","🚊","🚉","🚁","🛩","✈️","🛫","🛬","⛵️","🛥","🚤","⛴","🛳","🚀","🛰","💺","⚓️","🚧","⛽️","🚏","🚦","🚥","🏁","🚢","🎡","🎢","🎠","🏗","🌁","🗼","🏭","⛲️","🎑","⛰","🏔","🗻","🌋","🗾","🏕","⛺️","🏞","🛣","🛤","🌅","🌄","🏜","🏖","🏝","🌇","🌆","🏙","🌃","🌉","🌌","🌠","🎇","🎆","🌈","🏘","🏰","🏯","🏟","🗽","🏠","🏡","🏚","🏢","🏬","🏣","🏤","🏥","🏦","🏨","🏪","🏫","🏩","💒","🏛","⛪️","🕌","🕍","🕋","⛩"]},

    objects:{name:"Objects",array:["⌚️","📱","📲","💻","⌨","🖥","🖨","🖱","🖲","🕹","🗜","💽","💾","💿","📀","📼","📷","📸","📹","🎥","📽","🎞","📞","☎️","📟","📠","📺","📻","🎙","🎚","🎛","⏱","⏲","⏰","🕰","⏳","⌛️","📡","🔋","🔌","💡","🔦","🕯","🗑","🛢","💸","💵","💴","💶","💷","💰","💳","💎","⚖","🔧","🔨","⚒","🛠","⛏","🔩","⚙","⛓","🔫","💣","🔪","🗡","⚔","🛡","🚬","☠","⚰","⚱","🏺","🔮","📿","💈","⚗","🔭","🔬","🕳","💊","💉","🌡","🏷","🔖","🚽","🚿","🛁","🔑","🗝","🛋","🛌","🛏","🚪","🛎","🖼","🗺","⛱","🗿","🛍","🎈","🎏","🎀","🎁","🎊","🎉","🎎","🎐","🎌","🏮","✉️","📩","📨","📧","💌","📮","📪","📫","📬","📭","📦","📯","📥","📤","📜","📃","📑","📊","📈","📉","📄","📅","📆","🗓","📇","🗃","🗳","🗄","📋","🗒","📁","📂","🗂","🗞","📰","📓","📕","📗","📘","📙","📔","📒","📚","📖","🔗","📎","🖇","✂️","📐","📏","📌","📍","🚩","🏳","🏴","🔐","🔒","🔓","🔏","🖊","🖊","🖋","✒️","📝","✏️","🖍","🖌","🔍","🔎"]},

    Symbols:{name:"Symbols",array:["❤️","💛","💙","💜","💔","❣️","💕","💞","💓","💗","💖","💘","💝","💟","☮","✝️","☪","🕉","☸","✡️","🔯","🕎","☯️","☦","🛐","⛎","♈️","♉️","♊️","♋️","♌️","♍️","♎️","♏️","♐️","♑️","♒️","♓️","🆔","⚛","🈳","🈹","☢","☣","📴","📳","🈶","🈚️","🈸","🈺","🈷️","✴️","🆚","🉑","💮","🉐","㊙️","㊗️","🈴","🈵","🈲","🅰️","🅱️","🆎","🆑","🅾️","🆘","⛔️","📛","🚫","❌","⭕️","💢","♨️","🚷","🚯","🚳","🚱","🔞","📵","❗️","❕","❓","❔","‼️","⁉️","💯","🔅","🔆","🔱","⚜","〽️","⚠️","🚸","🔰","♻️","🈯️","💹","❇️","✳️","❎","✅","💠","🌀","➿","🌐","Ⓜ️","🏧","🈂️","🛂","🛃","🛄","🛅","♿️","🚭","🚾","🅿️","🚰","🚹","🚺","🚼","🚻","🚮","🎦","📶","🈁","🆖","🆗","🆙","🆒","🆕","🆓","0️⃣","1️⃣","2️⃣","3️⃣","4️⃣","5️⃣","6️⃣","7️⃣","8️⃣","9️⃣","🔟","🔢","▶️","⏸","⏯","⏹","⏺","⏭","⏮","⏩","⏪","🔀","🔁","🔂","◀️","🔼","🔽","⏫","⏬","➡️","⬅️","⬆️","⬇️","↗️","↘️","↙️","↖️","↕️","↔️","🔄","↪️","↩️","⤴️","⤵️","#️⃣","*️⃣","ℹ️","🔤","🔡","🔠","🔣","🎵","🎶","〰️","➰","✔️","🔃","➕","➖","➗","✖️","💲","💱","©️","®️","™️","🔚","🔙","🔛","🔝","🔜","☑️","🔘","⚪️","⚫️","🔴","🔵","🔸","🔹","🔶","🔷","🔺","▪️","▫️","⬛️","⬜️","🔻","◼️","◻️","◾️","◽️","🔲","🔳","🔈","🔉","🔊","🔇","📣","📢","🔔","🔕","🃏","🀄️","♠️","♣️","♥️","♦️","🎴","👁‍🗨","💭","🗯","💬","🕐","🕑","🕒","🕓","🕔","🕕","🕖","🕗","🕘","🕙","🕚","🕛","🕜","🕝","🕞","🕟","🕠","🕡","🕢","🕣","🕤","🕥","🕦","🕧"]},

    Flags:{name:"Flags",array:["🇦🇫","🇦🇽","🇦🇱","🇩🇿","🇦🇸","🇦🇩","🇦🇴","🇦🇮","🇦🇶","🇦🇬","🇦🇷","🇦🇲","🇦🇼","🇦🇺","🇦🇹","🇦🇿","🇧🇸","🇧🇭","🇧🇩","🇧🇧","🇧🇾","🇧🇪","🇧🇿","🇧🇯","🇧🇲","🇧🇹","🇧🇴","🇧🇶","🇧🇦","🇧🇼","🇧🇷","🇮🇴","🇻🇬","🇧🇳","🇧🇬","🇧🇫","🇧🇮","🇨🇻","🇰🇭","🇨🇲","🇨🇦","🇮🇨","🇰🇾","🇨🇫","🇹🇩","🇨🇱","🇨🇳","🇨🇽","🇨🇨","🇨🇴","🇰🇲","🇨🇬","🇨🇩","🇨🇰","🇨🇷","🇭🇷","🇨🇺","🇨🇼","🇨🇾","🇨🇿","🇩🇰","🇩🇯","🇩🇲","🇩🇴","🇪🇨","🇪🇬","🇸🇻","🇬🇶","🇪🇷","🇪🇪","🇪🇹","🇪🇺","🇫🇰","🇫🇴","🇫🇯","🇫🇮","🇫🇷","🇬🇫","🇵🇫","🇹🇫","🇬🇦","🇬🇲","🇬🇪","🇩🇪","🇬🇭","🇬🇮","🇬🇷","🇬🇱","🇬🇩","🇬🇵","🇬🇺","🇬🇹","🇬🇬","🇬🇳","🇬🇼","🇬🇾","🇭🇹","🇭🇳","🇭🇰","🇭🇺","🇮🇸","🇮🇳","🇮🇩","🇮🇷","🇮🇶","🇮🇪","🇮🇲","🇮🇱","🇮🇹","🇨🇮","🇯🇲","🇯🇵","🇯🇪","🇯🇴","🇰🇿","🇰🇪","🇰🇮","🇽🇰","🇰🇼","🇰🇬","🇱🇦","🇱🇻","🇱🇧","🇱🇸","🇱🇷","🇱🇾","🇱🇮","🇱🇹","🇱🇺","🇲🇴","🇲🇰","🇲🇬","🇲🇼","🇲🇾","🇲🇻","🇲🇱","🇲🇹","🇲🇭","🇲🇶","🇲🇷","🇲🇺","🇾🇹","🇲🇽","🇫🇲","🇲🇩","🇲🇨","🇲🇳","🇲🇪","🇲🇸","🇲🇦","🇲🇿","🇲🇲","🇳🇦","🇳🇷","🇳🇵","🇳🇱","🇳🇨","🇳🇿","🇳🇮","🇳🇪","🇳🇬","🇳🇺","🇳🇫","🇲🇵","🇰🇵","🇳🇴","🇴🇲","🇵🇰","🇵🇼","🇵🇸","🇵🇦","🇵🇬","🇵🇾","🇵🇪","🇵🇭","🇵🇳","🇵🇱","🇵🇹","🇵🇷","🇶🇦","🇷🇪","🇷🇴","🇷🇺","🇷🇼","🇧🇱","🇸🇭","🇰🇳","🇱🇨","🇵🇲","🇻🇨","🇼🇸","🇸🇲","🇸🇹","🇸🇦","🇸🇳","🇷🇸","🇸🇨","🇸🇱","🇸🇬","🇸🇽","🇸🇰","🇸🇮","🇸🇧","🇸🇴","🇿🇦","🇬🇸","🇰🇷","🇸🇸","🇪🇸","🇱🇰","🇸🇩","🇸🇷","🇸🇿","🇸🇪","🇨🇭","🇸🇾","🇹🇼","🇹🇯","🇹🇿","🇹🇭","🇹🇱","🇹🇬","🇹🇰","🇹🇴","🇹🇹","🇹🇳","🇹🇷","🇹🇲","🇹🇨","🇹🇻","🇺🇬","🇺🇦","🇦🇪","🇬🇧","🇺🇸","🇻🇮","🇺🇾","🇺🇿","🇻🇺","🇻🇦","🇻🇪","🇻🇳","🇼🇫","🇪🇭","🇾🇪","🇿🇲","🇿🇼"]},
}   

      });


    var clipboard_copy = new Clipboard('button');
    clipboard_copy.on('success', function(e) { toastr.warning('Emoji Copied To Clipboard.') });
    clipboard_copy.on('error', function(e) { console.log(e); });

    </script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>