<!doctype html>
<html ng-app='myApp'>
<head>

<title>UPC Barcode Generator</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

</head>
<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>
<legend><h2><span class='fa fa-barcode'></span> UPC Barcode Generator: <small>Generate Your UPC Barcodes</small></h2></legend>


<div class="row">


<h5 class='well'>
- Generate a UPC Barcode for a (link,word,name) in less than a second. <br>
- Normaly you read a UPC barcode with a Barcode Scanner like in the stores & supermarkets. <br>
- On android you can use this app <a href="https://play.google.com/store/apps/details?id=com.google.zxing.client.android&hl=en">Barcode Scanner</a> <br>
- There is also Online app for reading a Barcode - link : <a href="http://www.onlinebarcodereader.com/">OnlineBarcodeReader.com</a> <br>
</h5>



      
<form ng-submit='render_img()' name='myform'>

  <table class='table table-striped table-hover table-condensed table-bordered'>
    <colgroup>
    <col class="col1">
    <col class="col2">
  </colgroup>
  <tbody>
    <tr>
      <td><label for="filetype">File type</label></td>
      <td>
        <select class='form-control widthfix' name="filetype" id="filetype" size="1" ng-model='file_type'>
         <option value="PNG">PNG - Portable Network Graphics</option>
         <option selected="selected" value="JPEG">JPEG - Joint Photographic Experts Group</option>
         <option value="GIF">GIF - Graphics Interchange Format</option>
       </select>
     </td>
   </tr>
   <tr >
    <td><label for="dpi">DPI</label></td>
    <td>
      <input type="number" class='form-control widthfix' required="{{file_type!='GIF'}}" max="300" min="72" name="dpi" id="dpi" ng-model='dpi' ng-disabled='file_type=="GIF"'> 
<ul>
<li ng-show='file_type=="GIF"' class='bg-danger'>DPI is available only for PNG and JPEG.</li>
</ul>

    </td>
  </tr>
  <tr>
    <td><label for="thickness">Thickness</label></td>
    <td>
      <input class='form-control widthfix' type="number" value="30" required="required" step="5" max="90" min="20" name="thickness" id="thickness" ng-model='thickness'>
    </td>
  </tr>                    
  <tr >
    <td><label for="scale">Scale</label></td>
    <td>
      <input class='form-control widthfix' type="number" value="4" required="required" max="4" min="1" name="scale" id="scale" ng-model='scale'>
    </td>
  </tr>
  <tr>
    <td><label for="rotation">Rotation</label></td>
    <td>
      <select class='form-control widthfix' name="rotation" id="rotation" size="1" ng-model='rotation'>
        <option selected="selected" value="0">No rotation</option>
        <option value="90">90° clockwise</option>
        <option value="180">180° clockwise</option>
        <option value="270">270° clockwise</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="font">Font</label></td>
    <td>
      <select class='form-control' name="font" id="font" size="1" style="display:inline" ng-model='font'>
        <option selected="selected" value="0">No Label</option>
        <option selected="selected" value="Arial.ttf">Arial.ttf</option>
      </select> 
      <input class='form-control' style="display:inline" type="number" value="20" max="30" min="1" name="font_size" id="font_size" ng-model='font_size'></td>
    </tr>
    <tr >
      <td><label for="text">Word to Convert</label></td>
      <td>
        <input  class='form-control widthfix' type="text" required="required" name="text" id="text" ng-model='text'> 
        <ul>
          <li class='bg-danger' ng-show='myform.text.$error.required'>This Field Required</li>
        </ul>
        </td>
      </tr>
    </tbody>
  </table>

    <button type='submit' class="btn btn-primary btn-lg btn-block" ng-class='{"btn-danger" : myform.$invalid}' ng-disabled='myform.$invalid'>Generate BarCode - ولد الباركود</button>

</form>

<div class="clearfix"></div>
<hr>


    <image class='img img-rounded' ng-src='{{link}}' style='border:2px solid #333;padding:5px'>
    <h5>To Download just use (Save Image As)</h5>

<div class='well well-sm'>
<code style='font-weight:bold'>Image Link: </code><br> {{image}}
<br>
<code style='font-weight:bold'>Generated API Link: </code><br> {{link}}

</div>



<div class="clearfix"></div>
<br>
</div>



<div ng-include src='"../../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <script type="text/javascript">
var myApp=angular.module('myApp',['ngRoute']);

myApp.controller('MainController',function($scope){
    var base_url = "http://ahmed-badawy.com/site/";
    $scope.file_type = "PNG";
    $scope.dpi = 73;
    $scope.thickness = 30;
    $scope.scale = 2;
    $scope.rotation = 0;
    $scope.font = "Arial.ttf";
    $scope.font_size = 20;
    $scope.text = "Ahmed Badawy";
    // $scope.link = "http://localhost/ahmed-badawy.com/public/barcodegen-1d/html/image.php?filetype=JPEG&dpi=72&scale=2&rotation=0&font_family=Arial.ttf&font_size=30&text=hello&thickness=20&checksum=&code=BCGcode39extended";
    $scope.link = "";

    $scope.render_img = function(){
        console.log("rendering image");
        $scope.link = base_url+"public/barcodegen-1d/html/image.php?filetype="+$scope.file_type+
        "&dpi="+$scope.dpi+"&scale="+$scope.scale+"&rotation="+$scope.rotation+"&font_family="+$scope.font+
        "&font_size="+$scope.font_size+"&text="+$scope.text+"&thickness="+$scope.thickness+"&code=BCGcode39extended";
        $scope.image = "<img src='"+$scope.link+"' >";
        console.log($scope.myform);
        return false;
    }
    $scope.render_img();
});
    </script>
    <script  type="text/javascript" src="../../../js-apps/layout.js"></script>


<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>