<!doctype html>
<html ng-app='myApp'>
<head>

<title>Password Generator</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../images/icon.png" />

<link rel="stylesheet" href="../../_assets/css/bootstrap.min.css">
<link href="../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../_assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../_assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../_assets/angular/angular-route.min.js"></script>

<script src="../../_assets/js/jquery-2.1.4.min.js"></script>

<script type="text/javascript" src='../../_assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../_assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../_assets/plugins/toastr/toastr.min.js'></script>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body{
            font-family: 'Open Sans','Lato', Helvetica, sans-serif;
            color:#222;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>

</head>
<body ng-controller='MainController'>



    <div id="wrapper">

<div ng-include src='"../../templates/sidebar.html"'></div>
<a href="#menu-toggle" class="btn btn-default btn-xs fa fa-arrow-right" id="menu-toggle"></a> 



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../templates/headerarea.html"'></div>
<legend><h2><span class='fa fa-barcode'></span> Generate a Password <small>Generate complix password in a second</small></h2></legend>

<div class="row">

<div class="col-sm-5">
    <label>Hash Allowed Characters</label>
    <textarea class='form-control' ng-model='allowed_chars' rows='3'></textarea>
    <br>
    <label>Hash Characters Count</label>
    <input type='number' class='form-control' ng-model='pass_size'/>
</div>
<div class="col-sm-7">
    <label>Generated Text (string) (output)</label>

    <div id='to_clipboard' data-clipboard-text='{{output}}'>
        <textarea class='form-control' readonly rows='3' ng-model='output'></textarea>
        <small style='color:#888'>click to copy</small>
    </div>

    <div class="clearfix"></div><br><br>
    <button class='btn btn-primary btn-block btn-lg' ng-click='generate_pass()'>Refresh</button>
</div>


<div class="clearfix"></div>
<br>
</div>



<div ng-include src='"../../templates/footerarea.html"'></div>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <script type="text/javascript">
var myApp=angular.module('myApp',['ngRoute']);

function generate_pass( allowed_chars,count ){
    var text = "";
    for( var i=0; i < count ; i++ ) text += allowed_chars.charAt(Math.floor(Math.random() * allowed_chars.length));
        toastr.info('Hash Was Generated');
    return text;
}


myApp.controller('MainController',function($scope){
    console.log("you are in the controller");
    $scope.allowed_chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789@-_/\\[](){}";
    $scope.pass_size = 10;
    $scope.generate_pass = function(){
        $scope.output = generate_pass($scope.allowed_chars,$scope.pass_size);
    }
    $scope.generate_pass();
});

    var clipboard_copy = new Clipboard('#to_clipboard');
    clipboard_copy.on('success', function(e) { toastr.warning('Clipboard: Password Was Copied') });
    clipboard_copy.on('error', function(e) { console.log(e); });


    </script>
    <script  type="text/javascript" src="../../js-apps/layout.js"></script>


</body>
</html>