<!doctype html>
<html ng-app='myApp' ng-controller='MainController'>
<head>

<title>SandBox</title>
<meta charset='utf-8'>
<link rel="icon" type="image/x-icon" href="../../../images/icon.png" />

<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
<link href="../../../css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/plugins/font-awesome-4.5.0/css/font-awesome.min.css">

<script  type="text/javascript" src="../../../assets/angular/angular.min.js"></script>
<script  type="text/javascript" src="../../../assets/angular/angular-route.min.js"></script>

<script src="../../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../../../assets/plugins/clipboard.js/clipboard.min.js'></script>
<link href="../../../assets/plugins/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src='../../../assets/plugins/toastr/toastr.min.js'></script>

<script type="text/javascript" src='../../../assets/plugins/bytesize.min.js'></script>

<script type="text/javascript" src='../../../assets/plugins/FileSaver.js'></script>
<script  type="text/javascript" src="../../../assets/plugins/ngStorage.min.js"></script>
<script  type="text/javascript" src="../../../js-apps/layout.js"></script>

<style type="text/css">
    .run-span{
        color:red;
        float:right;
    }
    .run-comment{
        color:#888;
    }
</style>
</head>

<body>



    <div id="wrapper">

<div ng-include src='"../../../templates/sidebar.html"'></div>
<a href="#menu-toggle" class="btn btn-default btn-xs fa fa-arrow-right" id="menu-toggle"></a> 



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

<div ng-include src='"../../../templates/headerarea.html"'></div>


<legend><h2><span class='fa fa-reorder'></span> JavaScript Logger: <small>test js functions & methods in a fast way</small></h2></legend>





<div class="row">


<div id='textarea1' class='col-sm-6'>
    <p>JavaScirpt (input)</p>
    <textarea class='form-control mytextarea' rows='12' ng-model='js_box'></textarea>
    <input type='file' class='hidden upload_input' />
    <span class='fa fa-file-code-o btn file_btn' title='Import a File'></span>
    <span class='fa fa-copy btn copy_btn' title='Copy Text'></span>
    <span class='fa fa-cut btn cut_btn' title='Cut Text'></span>
    <span class='fa fa-th-list btn selectAll' title='Select All Text'></span>
    <span class='fa fa-trash btn emptyAll' title='Empty All Text'></span>

    <a href='' download="script.js" style="display:none" class='hidden download_content_link'></a>
    <span class='fa fa-save btn download_content' title='Download Content'></span>


    <span class='fa fa-hand-lizard-o fa-lg pull-right'></span>
    <span class='pull-right txtsize' style='color:#aaa;font-weight:bolder'></span>
    <span class='pull-right'>&nbsp;&nbsp;</span>
    <span class='fa fa-hand-peace-o fa-lg pull-right'></span>
    <span class='pull-right txtlength' style='color:#aaa;font-weight:bolder'></span>
</div>


<label>Console (output) </label>
<button class='btn btn-xs btn-danger pull-right' ng-click='clear_all();'>Clear</button>
<div class='col-sm-6' id='output' style='border:1px solid #333;padding:10px;'>
</div>

<button ng-click='compile()' class='btn btn-primary btn-block btn-lg'>Force Compile</button>
</div>




</div>



<div class="clearfix"></div>
<br>



<div ng-include src='"../../../templates/footerarea.html"'></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<script type="text/javascript">

var output = document.getElementById("output");
var itirator = 1;

(function(){
    var oldLog = console.log;
    console.log = function (message) {
        oldLog.apply(console, arguments);
        // alert(arguments[0]);
        if(!arguments[1]) output.innerHTML += arguments[0]+"<br>";
        else output.innerHTML += "<span class='run-comment'>"+arguments[0]+" : </span> "+arguments[1]+"<br>";
    };

})();


    var myApp=angular.module('myApp',['ngRoute']);
    myApp.controller('MainController',function($scope,$timeout){ 
        var promise = false;

        $scope.$watch('js_box',function(){
            if(promise) $timeout.cancel(promise);
            promise = $timeout(function(){
                if($scope.js_box) $scope.compile();
            },1000);
        });
        $scope.compile = function(){
            output.innerHTML += "<span class='run-span'>Run "+itirator+"</span>";
            eval($scope.js_box);
            output.innerHTML += "<hr>";
            itirator++;
        }

        $scope.clear_all = function(){
            output.innerHTML = "";
            console.clear();
            itirator = 1;
        }
    });
</script>

<script type="text/javascript">
    
window.onload = function(){


/********************************Notify me**************************************/
    function notifyUser(msgHeader,img,msg){
        if(Notification.permission=='default'){
            alert('please allow notification for our website...')
        }else{
            // alert("hi");
            notify = new Notification(msgHeader,{
                body: msg,
                icon: (img) ? img : "1.jpg",
                tag: Math.floor((Math.random() * 100) + 1)
            });
            notify.onclick = function(){
                // console.log(this);
                window.location = 'http://ahmed-badawy.com';
            }
        }
    }
/**********************************************************************/    

function id(id){ return window.document.getElementById(id); }
function get_id_class(id_name,class_name){ 
    if(window.document.getElementById(id_name)==null) { console.log(id_name); console.log(class_name);}
    return window.document.getElementById(id_name).getElementsByClassName(class_name)[0]; 
}


function apply_text_area(area_name,mime_type){
    var txtarea = get_id_class(area_name,'mytextarea');

/*********************************Read Text File*************************************/  
    function read_text_file(file){
        if(file.type != "text/plain"){ //stop if it'sn't a text file
            alert("No Text File Inputed.");
            // return;
            // console.log(file);
        }
        var reader = new FileReader(); //call the FileReader class.
        reader.readAsText(file); //then call the readAsText functnion
        reader.onload = function(evt){ //what happens on loading the textfile.
            // console.log(evt);
            res = evt.target.result;
            handle_onread(res);
        }
    }
    function read_file_actions(evt){
        evt.stopPropagation();
        evt.preventDefault();

        console.log(evt);

        files = (evt.srcElement) ? evt.srcElement.files : evt.originalTarget.files;
        var total_size= 0;
        for(i=0; i<files.length ;i++){
            total_size += files[i].size;
        }
        console.log("Total Size is: "+total_size+" Bytes...");
        console.log("Files Count is: "+files.length+" Files...");

        read_text_file(files[0]);
    }
    function handle_onread(file_text){
        txtarea.value = file_text;
        count_chars();
        notifyUser('File Imported');
    }
    get_id_class(area_name,"upload_input").addEventListener('change',read_file_actions,false);
    get_id_class(area_name,"file_btn").addEventListener('click',function(){ get_id_class(area_name,"upload_input").click(); },false);

/********************************Copy TextArea Value**************************************/
    var clipboard_copy = new Clipboard('#'+area_name+' .copy_btn', {
        text: function() {
            // notifyUser('Text Was Copied');
            count_chars();
            return txtarea.value;
        }
    });
    clipboard_copy.on('success', function(e) { console.log(e); });
    clipboard_copy.on('error', function(e) { console.log(e); });

/********************************Cut TextArea Value**************************************/
    var clipboard_cut = new Clipboard('#'+area_name+' .cut_btn', {
        text: function() {
            // notifyUser('Text Was Cut');
            var return_text = txtarea.value;
            txtarea.value = "";
            count_chars();
            return return_text;
        }
    });
    clipboard_cut.on('success', function(e) { console.log(e); });
    clipboard_cut.on('error', function(e) { console.log(e); });
/********************************Select All TextArea Value**************************************/
    get_id_class(area_name,'selectAll').addEventListener('click',(function(){
        txtarea.setSelectionRange(0,txtarea.value.length);
    }),false);
/********************************Empty All**************************************/
    get_id_class(area_name,'emptyAll').addEventListener('click',(function(){
        txtarea.value = "";
        count_chars();
        notifyUser('Empty All TextArea');
    }),false);
/********************************Count Number Of Chars**************************************/
    // txtarea.addEventListener('keyup',function(){ count_chars() },false);
    function count_chars(){
        get_id_class(area_name,"txtlength").innerHTML = txtarea.value.length;    
        var Windowstxtsize = ByteSize.format(ByteSize.count(txtarea.value,{lineBreaks:2}));
        get_id_class(area_name,"txtsize").innerHTML = "size: "+Windowstxtsize;
    }
    function timeout() { setTimeout(function(){ count_chars(); timeout(); },5000); }
    timeout(); count_chars();
/********************************Create Textarea Download**************************************/    
    var textFile = false;
    function makeTextFile(text) {
        var data = new Blob([text], {type: mime_type});
// If we are replacing a previously generated file we need to manually revoke the object URL to avoid memory leaks :
        if (textFile) window.URL.revokeObjectURL(textFile);
        textFile = window.URL.createObjectURL(data);
        return textFile;
    };
    get_id_class(area_name,"download_content").addEventListener('click', function () {
        get_id_class(area_name,"download_content_link").href = makeTextFile(txtarea.value);
        get_id_class(area_name,"download_content_link").click();
    },false);   
/**********************************************************************/
}

apply_text_area('textarea1','text/javascript');




};

</script>

<script type="text/javascript" src='../../../js-apps/sidebar_controller.js'></script>
</body>
</html>